<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ 'css/style.css' | url }}">
</head>

<body>
 <header>
  <nav>
  <ul class="nav">
    <li class="nav-item">
      <a href="/">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a href="/projects/">Projects</a>
      <ul class="dropdown-menu">
        <li><a href="/projects/NM231_Graphic_Novel/">Graphic Novel</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="/about/">About</a>
    </li>
  </ul>
</nav>
  </nav>
</header>


  <main>
    {{ content | safe }}
  </main>
</body>
</html>
