---
title: NM231 Choose Your Adventure
layout: layouts/base.njk
permalink: "/projects/NM231_ChooseAdventure/3rdtime.html"
---

<!DOCTYPE html>
<html>
<head>
     <title>Dallas Armieri: Choose your own</title>
    
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Old+Standard+TT" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>   
<body style="background-color: black">
        <div id="yellowMiddle">
            <pre style="font: 10px/5px monospace;"><center> `                                                                            ````````````
 @#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 #@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @@@@@;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@ #@@@@#`
  @@@@@  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@##@##@@@@@@@@@@ ;@@#@@ 
  @@@@@  @#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#` #@@@@@@@@@; '@#@@, 
  #@@@'  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#  `@@@@@@@@#  :@@#@  
   @@@   @#@@@@@#@:@@#@@@##@@@@@@@@@@@#@@@@@@@@@@@@##@@ `@@@@@@@@@@#@   @#@@@@@@@  :#@#@  
  `@@@   ,@@@@@@#+ @@@###+#######@@@@@#@##@#@@@@###@@     @@@@@#@@@@+   @#@@@@@@@  .#@@@  
   @##    ######@. @@@###  @###########@`#@###@@###;`      @#@#####@,   @@#######   @##+  
   @@     ######@` +####'   @##########: #####@ @##        :#######@    @#@####@;   @##`  
   ,'     @######` ;#### `  +@########@; @@###@ ;@#         #######@    +#######@   @@#:  
   `'     `#@###@` `###@    `##########, @####@ :#@         #######@    :#######@   @@#   
    '      @@@##@   #@#+     @#########. ;@#### ,#@         +@#####+    `#######@   @#@   
           @@####   :##;     ;#########` `####@ .##         `######,     #######:   ##:   
            `@##+    ##:     `#########`  @###,  #'          #####+      #######     #    
             @##:    ##,      #########`  ####   @'          #####:      #######     #    
             ###.    @#.      #########   `###   @`          #####       `#####@    ``    
             ###     ##       #########    ###   '`          #####       ;######          
             ###     ##       @########    +##               +###@       @######          
             @##     +#       @#######@     ##               #####       #######          
             @#+     :#       @#######@     ##               ####        '#####           
             @#'     `#       +#######+     #,               +###        @+####,          
             @##      :       :#######.     #`                ###        +#####;          
             ##.              `#######      @                 ###         ####+           
             '#                #######      `                 @##         #####           
             .#                #######                        ;#`         #####           
              #                @######                        .#          ;####           
              #                #######                         +          ;###+           
               `               @######                         #          ;###,           
                               +######                                    '###            
                               .#####@                                    :+##            
                                #####+                                    .#+#            
                                #####'                                     ###            
                                '####`                                     #+;            
                                #####                                      #+,            
                                #++##                                      ++             
                                #+++#                                      +#             
                                #++#`                                      :@             
                                +++#                                                      
                                :++#                                                      
                                 #++                                                      
                                 +++                                                      
                                 +++                                                      
                                `+++                                                      
                                 +++                                                      
                                 ++:                                                      
                                 ++'                                                      
                                 +++                                                      
                                 #++                                                      
                                 ;+'                                                      
                                 .+,                                                      
                                 `+`                                                      
                                 `+`                                                      
                                  +`                                                      
                                  +                                                       
                                  +`                                                      
                                  '                                                       
</center></pre>
<h3>--------------------------------------------------------------------------</h3>
            
            <p style="margin: 10px 10px 10px 10px; color: black">
 With your new crystal from the middle tunnel, you feel very confident and don’t even look at the skeleton or the message on the wall. You are read for the next challenge. 
            </p>
            <h1><center>
                    <a style="text-decoration: none; color: black"href=rightv3.html>Right tunnel: seems darker than the others. </a>
    <h3>--------------------------------------------------------------------------</h3>
            </center></h1>
       
    </div>
</body>
</html>