---
title: NM231 Choose Your Adventure
layout: layouts/base.njk
permalink: "/projects/NM231_ChooseAdventure/death.html"
---

<!DOCTYPE html>
<html>
<head>
     <title>Dallas Armieri: Choose your own</title>
    
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Old+Standard+TT" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>   
<body style="background-color: black">
        <div style="color: black; width: 550px; height: 1500px; background-color: black; margin: auto; padding: 50px">
            
            <p style="margin: 10px 10px 10px 10px; color: red">
       That was a poor choice. Before you are able to totally register how, you are killed. Better luck next life! 
            </p>
            <h1><center>
                    <br>
                    <a style="text-decoration: none; color:  red; font-size: 50px"href=index.html>YOU HAVE DIED!</a>
                    <br>
                    
            </center></h1>
           <h2 style="color: white"><center>
               <pre style="font: 2px/1px monospace;">                                                                                                                                                                                                        
                                                                                            `,;'+#@@@@@@@#+';,`                                                                                         
                                                                                    .'#@@@@@@@@@@@@@@@@@@@@@@@@@@@@+,                                                                                   
                                                                               :#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@+.                                                                              
                                                                          `'@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#.                                                                          
                                                                       .#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@'`                                                                      
                                                                    ,@@@@@@@@@@@@@@@@@@@@@@@@#+':,.````.,:;;+#@@@@@@@@@@@@@@@@@@@@@+`                                                                   
                                                                  #@@@@@@@@@@@@@@@@@@+:`                          .'@@@@@@@@@@@@@@@@@@+                                                                 
                                                               ,@@@@@@@@@@@@@@@@;                                      `+@@@@@@@@@@@@@@@@.                                                              
                                                             ,@@@@@@@@@@@@@@,                                              `+@@@@@@@@@@@@@@:                                                            
                                                           .@@@@@@@@@@@@+                                                      ,@@@@@@@@@@@@@:                                                          
                                                          @@@@@@@@@@@#                                                            ,@@@@@@@@@@@@                                                         
                                                        '@@@@@@@@@@.                                                                 :@@@@@@@@@@'                                                       
                                                       @@@@@@@@@#`                                                                     `#@@@@@@@@@                                                      
                                                     .@@@@@@@@#                                                                           #@@@@@@@@                                                     
                                                    '@@@@@@@@`                                                                              @@@@@@@@`                                                   
                                                   #@@@@@@@:                                                                                 ,@@@@@@@,                                                  
                                                  #@@@@@@@                                                                                     @@@@@@@:                                                 
                                                 #@@@@@@#                                                                                       @@@@@@@,                                                
                                                #@@@@@@;                                                                                         #@@@@@@.                                               
                                               '@@@@@@.                                                                                           +@@@@@@`                                              
                                              ,@@@@@@.                                                                                             +@@@@@@                                              
                                             `@@@@@@.                                                                                               +@@@@@@                                             
                                             @@@@@@,                                                                                                 #@@@@@#                                            
                                            #@@@@@'                                                                                                   @@@@@@,                                           
                                           ,@@@@@@                                                                                                     @@@@@@                                           
                                           @@@@@@                                                                                                      `@@@@@@                                          
                                          #@@@@@                                                                                                        ;@@@@@,                                         
                                         `@@@@@'                                                                                                         @@@@@@                                         
                                         @@@@@@                                                                                                           @@@@@'                                        
                                        .@@@@@                                                                                                            '@@@@@                                        
                                        @@@@@#                                                                                                             @@@@@+                                       
                                       ,@@@@@                                                                                                              .@@@@@                                       
                                       @@@@@+                                                                                                               @@@@@+                                      
                                      `@@@@@                                                                                                                .@@@@@                                      
                                      #@@@@#                                                                                                                 @@@@@,                                     
                                      @@@@@                                                                                                                  ;@@@@@                                     
                                     ,@@@@@                                                                                                                   @@@@@                                     
                                     @@@@@.                                                                                                                   @@@@@:                                    
                                     @@@@@                                                                                                                    `@@@@@                                    
                                    ,@@@@#                                                                                                                     @@@@@                                    
                                    #@@@@,                                                                                                                     #@@@@.                                   
                                    @@@@@                                                                                                                      ,@@@@#                                   
                                    @@@@@                                                                                                                       @@@@@                                   
                                   `@@@@#        #                                                                                                     '        @@@@@                                   
                                   '@@@@,       '@+                                                                                                   ,@@       @@@@@                                   
                                   #@@@@       `@@@:                                                                                                 `@@@#      '@@@@,                                  
                                   @@@@@       @@@@@`                                                                                                @@@@@      .@@@@+                                  
                                   @@@@@       @@@@@.                                                                                                @@@@@;      @@@@@                                  
                                   @@@@@      .@@@@@                                                                                                 `@@@@@      @@@@@                                  
                                   @@@@@      '@@@@.                                                                                                  @@@@@      @@@@@                                  
                                   @@@@#      @@@@@                                                                                                   @@@@@      @@@@@                                  
                                   @@@@#      @@@@@                                                                                                   @@@@@      @@@@@                                  
                                   @@@@#      @@@@@                                                                                                   @@@@@      @@@@@                                  
                                   @@@@#      @@@@@                                                                                                   @@@@@      @@@@@                                  
                                   @@@@#      @@@@@                                                                                                   @@@@@      @@@@@                                  
                                   @@@@@      +@@@@`                                                                                                  @@@@@      @@@@@                                  
                                   @@@@@      '@@@@`                                                                                                  @@@@@      @@@@@                                  
                                   @@@@@      ,@@@@:                                                                                                  @@@@@      @@@@@                                  
                                   @@@@@      `@@@@'                                                                                                  @@@@#      @@@@@                                  
                                   @@@@@       @@@@@                                                                                                 ,@@@@'      @@@@@                                  
                                   #@@@@       @@@@@                                                                                                 #@@@@`      @@@@@                                  
                                   ;@@@@,      @@@@@                                                                                                 @@@@@       @@@@@                                  
                                   .@@@@+      +@@@@'                                                                                                @@@@@       @@@@@                                  
                                    @@@@@      `@@@@@                                                                                               #@@@@'      `@@@@#                                  
                                    @@@@@       @@@@@                                                                                               @@@@@       :@@@@:                                  
                                    @@@@@       +@@@@+                                                                                             `@@@@@       #@@@@`                                  
                                    +@@@@,       @@@@@                                                                                             +@@@@'       @@@@@                                   
                                    .@@@@#       @@@@@                                                                                             @@@@@        @@@@@                                   
                                     @@@@@       +@@@@:                                                                                            @@@@@       ,@@@@#                                   
                                     @@@@@        @@@@#                                                                                           .@@@@+       @@@@@.                                   
                                     '@@@@'       @@@@@                                                                                           '@@@@.       @@@@@                                    
                                      @@@@@       @@@@@                                                                                           #@@@@       ,@@@@@                                    
                                      @@@@@       @@@@@                                                                                           @@@@@       @@@@@,                                    
                                      +@@@@+      @@@@@                                                                                           @@@@@       @@@@@                                     
                                      `@@@@@      #@@@@                       `:+@@@@@@`                          #@@@@@#:.                       @@@@@      #@@@@#                                     
                                       @@@@@,     #@@@@                .'@@@@@@@@@@@@@@@+                       ,@@@@@@@@@@@@@@@',                @@@@@      @@@@@                                      
                                       ;@@@@@     #@@@@           '@@@@@@@@@@@@@@@@@@@@@@'                     `@@@@@@@@@@@@@@@@@@@@@@#`          @@@@@     #@@@@@                                      
                                        @@@@@`    #@@@@         @@@@@@@@@@@@@@@@@@@@@@@@@@                     @@@@@@@@@@@@@@@@@@@@@@@@@@`        @@@@@     @@@@@`                                      
                                        #@@@@@    #@@@@       .@@@@@@@@@@@@@@@@@@@@@@@@@@@@                   ;@@@@@@@@@@@@@@@@@@@@@@@@@@@+       @@@@@    @@@@@@                                       
                                         @@@@@`   @@@@@      `@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@#      @@@@@   ,@@@@@`                                       
                                         #@@@@@   @@@@@      @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,                  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@:     @@@@@   @@@@@@                                        
                                          @@@@@;  @@@@@     #@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#                 .@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@     #@@@@` @@@@@@                                         
                                          #@@@@@  @@@@@     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                 ;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@;    ;@@@@.'@@@@@;                                         
                                           @@@@@@ @@@@@    :@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                 '@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@    .@@@@+@@@@@@                                          
                                           :@@@@@;@@@@+    #@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                 ;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@     @@@@@@@@@@                                           
                                            @@@@@@@@@@:    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#                 .@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@     @@@@@@@@@,                                           
                                             @@@@@@@@@`    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,                  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@     @@@@@@@@+                                            
                                             :@@@@@@@@     #@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@     @@@@@@@@                                             
                                              #@@@@@@@     :@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@+                   `@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@     +@@@@@@                                              
                                               @@@@@@@      @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@:     ,@@@@@                                               
                                                @@@@@#      @@@@@@@@@@@@@@@@@@@@@@@@@@@@@+                     `@@@@@@@@@@@@@@@@@@@@@@@@@@@@@       @@@@@                                               
                                                '@@@@,      .@@@@@@@@@@@@@@@@@@@@@@@@@@@@                       @@@@@@@@@@@@@@@@@@@@@@@@@@@@@       @@@@@                                               
                                                @@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@:                        @@@@@@@@@@@@@@@@@@@@@@@@@@@`       @@@@@                           +@@@+               
               #@@@@@,                          @@@@@        '@@@@@@@@@@@@@@@@@@@@@@@@@@                         +@@@@@@@@@@@@@@@@@@@@@@@@@@        #@@@@`                        #@@@@@@@:             
              @@@@@@@@@.                        @@@@@         @@@@@@@@@@@@@@@@@@@@@@@@@`                          @@@@@@@@@@@@@@@@@@@@@@@@@:        :@@@@:                       @@@@@@@@@@:            
             @@@@@@@@@@@+                      `@@@@@         @@@@@@@@@@@@@@@@@@@@@@@@+                           `@@@@@@@@@@@@@@@@@@@@@@@@         `@@@@#                     .@@@@@@@@@@@@            
            '@@@@@@@@@@@@#                     :@@@@:         .@@@@@@@@@@@@@@@@@@@@@@@                             #@@@@@@@@@@@@@@@@@@@@@@#          @@@@@                    ,@@@@@@@@@@@@@+           
            @@@@@@@@@@@@@@+                    +@@@@           @@@@@@@@@@@@@@@@@@@@@@                               @@@@@@@@@@@@@@@@@@@@@@`          @@@@@                   `@@@@@@@, '@@@@@           
           :@@@@@   #@@@@@@,                   #@@@@           '@@@@@@@@@@@@@@@@@@@@:                                @@@@@@@@@@@@@@@@@@@@@           @@@@@                   @@@@@@@    @@@@@           
           @@@@@,    ,@@@@@@                   @@@@@            @@@@@@@@@@@@@@@@@@@#                                 ,@@@@@@@@@@@@@@@@@@@            @@@@@                  #@@@@@#     +@@@@;          
           @@@@@      `@@@@@#                  @@@@@             @@@@@@@@@@@@@@@@@@              .@   @`              +@@@@@@@@@@@@@@@@@.            @@@@@                  @@@@@+      `@@@@@          
           @@@@@       ;@@@@@                  @@@@@              @@@@@@@@@@@@@@@@              ;@@   @@:              @@@@@@@@@@@@@@@@;             @@@@@                 +@@@@@        @@@@@          
          `@@@@+        @@@@@+                 @@@@@               @@@@@@@@@@@@@@`             '@@@   @@@;              @@@@@@@@@@@@@@:              @@@@@                 @@@@@`        @@@@@          
          :@@@@,        .@@@@@                 @@@@@                #@@@@@@@@@@@`             :@@@@   @@@@,              @@@@@@@@@@@@`               @@@@@                ,@@@@@         +@@@@`         
          '@@@@          @@@@@;                +@@@@                 `#@@@@@@@#              `@@@@@   @@@@@               :@@@@@@@@,                 @@@@@                @@@@@:         :@@@@:         
          #@@@@          ,@@@@@                '@@@@,                   `'+'.                @@@@@@   @@@@@@                `;++,                    @@@@@               ,@@@@@          `@@@@'         
          @@@@@           @@@@@@               .@@@@'                                       +@@@@@@   @@@@@@'                                        @@@@#               @@@@@+           @@@@+         
          @@@@@           :@@@@@+               @@@@@                                       @@@@@@@   @@@@@@@                                       :@@@@;              @@@@@@            @@@@#         
          @@@@@            @@@@@@@              @@@@@                                      @@@@@@@@   @@@@@@@#                                      @@@@@`             @@@@@@'            @@@@@         
         #@@@@@             @@@@@@@+            @@@@@`                                     @@@@@@@@   @@@@@@@@                                      @@@@@            #@@@@@@@             @@@@@@        
        #@@@@@@             ,@@@@@@@@:          ;@@@@#                                    +@@@@@@@@   @@@@@@@@'                                    .@@@@@          +@@@@@@@@              @@@@@@@       
       @@@@@@@.              :@@@@@@@@@.         @@@@@                                    @@@@@@@@@   @@@@@@@@@                                    @@@@@:        '@@@@@@@@@                @@@@@@@      
      @@@@@@@,                .@@@@@@@@@@`       @@@@@'                                   @@@@@@@@@   @@@@@@@@@                                   `@@@@@       '@@@@@@@@@@                  @@@@@@@     
     @@@@@@@.                   ;@@@@@@@@@@`     ,@@@@@                                  :@@@@@@@@@   @@@@@@@@@:                                  @@@@@#     '@@@@@@@@@@;                    @@@@@@#    
    #@@@@@@.                      +@@@@@@@@@@`    @@@@@@                                 #@@@@@@@@@   @@@@@@@@@#                                 @@@@@@    ;@@@@@@@@@@;                       @@@@@@'   
   :@@@@@@                          #@@@@@@@@@@   .@@@@@@.                               @@@@@@@@@@   @@@@@@@@@@                               .@@@@@@+  ;@@@@@@@@@@'                          @@@@@@`  
   @@@@@@                             @@@@@@@@@@@  @@@@@@@@                              @@@@@@@@@@   @@@@@@@@@@                             .@@@@@@@@ :@@@@@@@@@@'                            `@@@@@@  
  #@@@@@`                              `@@@@@@@@@@@ @@@@@@@@@.                           @@@@@@@@@@   @@@@@@@@@@                           ;@@@@@@@@@:@@@@@@@@@@+                               ,@@@@@@ 
  @@@@@;                                 .@@@@@@@@@@@@@@@@@@@@@#`                        @@@@@@@@@@   @@@@@@@@@@                        ,@@@@@@@@@@@@@@@@@@@@@#                                  +@@@@@`
 .@@@@@                                    .@@@@@@@@@@@@@@@@@@@@@@#.                     @@@@@@@@@@   @@@@@@@@@@                     `#@@@@@@@@@@@@@@@@@@@@@#                                     @@@@@,
 '@@@@.                                      ,@@@@@@@@@@@@@@@@@@@@@@@;                   @@@@@@@@@@   @@@@@@@@@@                   `@@@@@@@@@@@@@@@@@@@@@@#                                       :@@@@,
 +@@@@.                                        .@@@@@@@@@@@@@@@@@@@@@@@.                 @@@@@@@@@@   @@@@@@@@@@                  #@@@@@@@@@@@@@@@@@@@@@#                                         @@@@@`
 :@@@@@+            `...                         .@@@@@@@@@@@@@@@@@@@@@@#                @@@@@@@@@@   @@@@@@@@@@                .@@@@@@@@@@@@@@@@@@@@@#                         `;+#;.          `@@@@@@ 
  @@@@@@@@#:...;#@@@@@@@@@@.                       .@@@@@@@@@@@@@@@@@@@@@@               @@@@@@@@@;   ;@@@@@@@@@               #@@@@@@@@@@@@@@@@@@@@#                        .@@@@@@@@@@+,.,'#@@@@@@@@# 
  '@@@@@@@@@@@@@@@@@@@@@@@@@@.                       `@@@@@@@@@@ `@@@@@@@@@.             '@@@@@@@#     #@@@@@@@+              @@@@@@@@@` @@@@@@@@@@                        .@@@@@@@@@@@@@@@@@@@@@@@@@@  
   #@@@@@@@@@@@@@@@@@@@@@@@@@@@.                       .@@@@@@@@: @@@@@@@@@@`             @@@@@@@       @@@@@@@`             @@@@@@@@@' ;@@@@@@@@                        .@@@@@@@@@@@@@@@@@@@@@@@@@@@`  
    :@@@@@@@@@@@@@@@@@@@@@@@@@@@@,                       .@@@@@@@ :@@.@@@@@@@             @@@@@@         @@@@@@             @@@@@@@@@@  @@@@@@@`                       ,@@@@@@@@@@@@@@@@@@@@@@@@@@@@    
      :@@@@@@@@@@@@@@@@@@@@@@@@@@@@,                       .@@@@@  @@' @@@@@@@            `@@@'           +@@@`            '@@@@@@.@@@  @@@@@                        ,@@@@@@@@@@@@;:#@@@@@@@@@@@@@.     
         `;#@@##:`       `@@@@@@@@@@@:                      #@@@@' @@@  #@@@@@,             ,               :              @@@@@@  @@. +@@@@#                      :@@@@@@@@@@@`       .+#@#+:,`        
                           `@@@@@@@@@@@:                    `@@@@@ `@@   @@@@@@                                           #@@@@@  +@@  @@@@@                     :@@@@@@@@@@@`                          
                             `@@@@@@@@@@@:                   @@@@@  @@+   @@@@@.                                          @@@@@.  @@#  @@@@@                   :@@@@@@@@@@@`                            
                                #@@@@@@@@@@:                 +@@@@; +@@   '@@@@@                                         :@@@@@   @@` '@@@@'                 ;@@@@@@@@@@@                               
                                  #@@@@@@@@@@;                @@@@@ `@@`   @@@@@                                         @@@@@.  +@@  @@@@@                ;@@@@@@@@@@#                                 
                                    #@@@@@@@@@@;              @@@@@  @@+   @@@@@                                         @@@@@   @@@  @@@@@              '@@@@@@@@@@#                                   
                                      #@@@@@@@@@@:            @@@@@  #@@   '@@@@,                                        @@@@@   @@. `@@@@#            '@@@@@@@@@@#                                     
                                        #@@@@@@@@@@:          ;@@@@; .@@   .@@@@:                                        @@@@@  :@@  '@@@@,          '@@@@@@@@@@#                                       
                                          #@@@@@@@@@@:        `@@@@@  @@:  .@@@@;                                        @@@@@  @@@  @@@@@         +@@@@@@@@@@#                                         
                                            #@@@@@@@@@@:       @@@@@  @@@   #@@@@.                                    `'@@@@'   @@;  @@@@@       +@@@@@@@@@@+                                           
                                              #@@@@@@@@@@:     @@@@@  ;@@    @@@@@@@#:`                          `,+@@@@@@@@    @@   @@@@@     +@@@@@@@@@@+                                             
                                                #@@@@@@@@@@,   @@@@@   @@    @@ .#@@@@@@@@@@###+''''+++####@@@@@@@@@@@@'  @@   ;@@   @@@@@   #@@@@@@@@@@'                                               
                                                  #@@@@@@@@@@, @@@@@   @@:   @@   ;@:+@@@@@@@@@@@@@@@@@@@@@@@@@@@@+:'@.   @@   @@@   @@@@@ #@@@@@@@@@@'                                                 
                                                    #@@@@@@@@@@@@@@@   @@@   @@   ;@,   #@` `,@#:::;@+,,.#@   ;@,   '@.   @@   @@'   @@@@@@@@@@@@@@@;                                                   
                                                      #@@@@@@@@@@@@@   +@@   @@   ;@,   @@`  `@#   .@+   #@   ;@,   '@.   @@   @@.   @@@@@@@@@@@@@;                                                     
                                                        @@@@@@@@@@@@   ,@@   @@   ;@.   @@`  `@#   .@+   #@`  :@,   '@.   @@  `@@    @@@@@@@@@@@;                                                       
                                                          @@@@@@@@@@   `@@   @@   '@.   @@`  `@#   .@+   #@`  :@:   '@.   @@  :@@    @@@@@@@@@:                                                         
                                                            @@@@@@@'    @@.  @@,  '@.   @@`  .@+   .@+   #@`  :@:   ;@,  '@@  +@@    +@@@@@@:                                                           
                                                              @@@@@:    @@;  @@@@`'@.   @@`  .@+   .@+   #@`  :@:   ;@,.@@@@  @@@    '@@@@:                                                             
                                                              ,@@@@,    @@#  @@@@@@@.   @@   .@+   .@+   #@`  :@:   ;@@@@@@@  @@+    :@@@@.                                                             
                                                              ,@@@@,    #@@  @@ ,@@@@#` @@   .@+   .@+   #@`  ,@; .@@@@@. @@  @@,    :@@@@.                                                             
                                                              ,@@@@,    '@@  @@   '@@@@@@@.  .@+   .@+   #@` .'@@@@@@@,   @@  @@`    :@@@@.                                                             
                                                              #@@@@:    ,@@  @@   '@.;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,;@,   @@  @@     ;@@@@,                                                             
                                                            '@@@@@@'    `@@# @@   '@.   @@@@@@@@@@@@@@@@@@@@@@+@;   ;@,   @@ @@@     +@@@@@@.                                                           
                                                          ,@@@@@@@@#     @@@+@@   '@`   @@   .@+  `.@+   +@`  .@;   ;@,   @@+@@;     @@@@@@@@@,                                                         
                                                        `@@@@@@@@@@@      @@@@@   +@`   @@   .@'   .@+   +@`  .@'   ;@,   @@@@@      @@@@@@@@@@@:                                                       
                                                      `@@@@@@@@@@@@@       @@@@   +@`   @@   .@'   .@+   +@`  .@'   :@:   @@@@       @@@@@@@@@@@@@;                                                     
                                                     #@@@@@@@@@@@@@@        #@@@: +@`   @@   .@'   .@+   +@`  .@'   :@: :@@@@        @@@@@@@@@@@@@@@'                                                   
                                                   #@@@@@@@@@# @@@@@         ;@@@@+@`   @@   .@'   .@+   +@.  .@'   :@'@@@@'        `@@@@@ @@@@@@@@@@@'                                                 
                                                 +@@@@@@@@@@   '@@@@:          @@@@@;   @@   .@'   .@+   +@.  `@'   +@@@@@          ;@@@@;   #@@@@@@@@@@+                                               
                                               +@@@@@@@@@@`    .@@@@#           ,@@@@@@;@@   .@'   .@+   +@.  `@';@@@@@@.           @@@@@      #@@@@@@@@@@#                                             
                                             +@@@@@@@@@@,       @@@@@             ,@@@@@@@@#;:@'   .@+   +@..'@@@@@@@@`             @@@@@        #@@@@@@@@@@#                                           
                                           #@@@@@@@@@@:         @@@@@`               '@@@@@@@@@@@@@@@@@@@@@@@@@@@@@;               .@@@@@          +@@@@@@@@@@#                                         
                                        `@@@@@@@@@@@;           ;@@@@@                  .'@@@@@@@@@@@@@@@@@@@@@#.                  @@@@@:            '@@@@@@@@@@@                                       
                        ``            ,@@@@@@@@@@@'              @@@@@                        `.,:'+####+;,`                      `@@@@@               '@@@@@@@@@@@`          ````                      
                   ;@@@@@@@@@:      +@@@@@@@@@@@'                @@@@@@                                                           @@@@@#                 ;@@@@@@@@@@@.    .#@@@@@@@@#`                  
                 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@;                  `@@@@@`                                                         ,@@@@@                    :@@@@@@@@@@@@@@@@@@@@@@@@@@@:                
                @@@@@@@@@@@@@@@@@@@@@@@@@@@@,                     @@@@@@                                                         @@@@@@                      ,@@@@@@@@@@@@@@@@@@@@@@@@@@@               
               @@@@@@@@@@@@@@@@@@@@@@@@@@@`                       @@@@@@+                                                       @@@@@@@`                       .@@@@@@@@@@@@@@@@@@@@@@@@@@              
              ;@@@@@@@@@@@@@@@@@@@@@@@@#                        +@@@@@@@@`                                                     ;@@@@@@@@@                        .@@@@@@@@@@@@@@@@@@@@@@@@@             
              @@@@@@:       ;@@@@@@@@:                        ;@@@@@@@@@@@                                                    `@@@@@@@@@@@#                         +@@@@@@+`      .@@@@@@@`            
              @@@@@                                         .@@@@@@@@@@@@@@                                                   @@@@@@@@@@@@@@+                                         @@@@@+            
              @@@@#                                       `@@@@@@@@@@#@@@@@@                                                `@@@@@@:@@@@@@@@@@;                                        @@@@@            
              @@@@@                                      @@@@@@@@@@;  @@@@@@@                                              `@@@@@@+  .@@@@@@@@@@,                                     .@@@@#            
              @@@@@`                                   #@@@@@@@@@+     @@@@@@@                                            :@@@@@@@     ,@@@@@@@@@@.                                   @@@@@:            
              @@@@@@                                 '@@@@@@@@@#        @@@@@@@,                                         @@@@@@@@        ;@@@@@@@@@@`                                @@@@@@             
              `@@@@@@                              ,@@@@@@@@@@           @@@@@@@@                                      ;@@@@@@@@           +@@@@@@@@@@                              @@@@@@+             
               #@@@@@@                           `@@@@@@@@@@.             @@@@@@@@@.                                 #@@@@@@@@#              #@@@@@@@@@#                           @@@@@@@              
                @@@@@@@                         @@@@@@@@@@:                @@@@@@@@@@#`                           ;@@@@@@@@@@'                 @@@@@@@@@@'                        @@@@@@@               
                 @@@@@@@                      #@@@@@@@@@'                   +@@@@@@@@@@@@'`                   .+@@@@@@@@@@@@`                   `@@@@@@@@@@:                    `@@@@@@@`               
                  @@@@@@@                   '@@@@@@@@@#                      `@@@@@@@@@@@@@@@@@@##++++++#@@@@@@@@@@@@@@@@@'                       .@@@@@@@@@@.                 .@@@@@@@`                
                   @@@@@@@                :@@@@@@@@@@                          ,@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@+                           :@@@@@@@@@#               .@@@@@@@                  
                    @@@@@@@              '@@@@@@@@@`                             `#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,                               '@@@@@@@@#              @@@@@@@                   
                     @@@@@@`            `@@@@@@@@,                                  `+@@@@@@@@@@@@@@@@@@@@@@@@@@@@@;                                    +@@@@@@@'             @@@@@@                    
                      @@@@@'            @@@@@@@;                                        .+@@@@@@@@@@@@@@@@@@@@@+`                                         @@@@@@@.            @@@@#                     
                       @@@@@           #@@@@@+                                                 `.,::;;::,`                                                 .@@@@@@           ,@@@@;                     
                       @@@@@          `@@@@@+                                                                                                               ,@@@@@#          :@@@@,                     
                       @@@@@          @@@@@@                                                                                                                 +@@@@@          '@@@@`                     
                       @@@@@         ,@@@@@`                                                                                                                  @@@@@#         #@@@@`                     
                       #@@@@         @@@@@#                                                                                                                   `@@@@@         @@@@@                      
                       +@@@@`       '@@@@@                                                                                                                     @@@@@'        @@@@@                      
                       ;@@@@,       @@@@@'                                                                                                                     .@@@@@        @@@@@                      
                       .@@@@;      @@@@@@                                                                                                                       @@@@@@       @@@@@                      
                       `@@@@+     @@@@@@,                                                                                                                       ,@@@@@@     :@@@@+                      
                        @@@@@    #@@@@@@                                                                                                                         @@@@@@@    @@@@@.                      
                        @@@@@,  #@@@@@@                                                                                                                           @@@@@@@: ;@@@@@                       
                        #@@@@@@@@@@@@@                                                                                                                            `@@@@@@@@@@@@@#                       
                         @@@@@@@@@@@@`                                                                                                                              @@@@@@@@@@@@                        
                         ;@@@@@@@@@@:                                                                                                                                @@@@@@@@@@:                        
                          '@@@@@@@@`                                                                                                                                  +@@@@@@@;                         
                           `@@@@@:                                                                                                                                      +@@@@                           
</pre>
            
               </center></h2>
    </div>
    
</body>
</html>