---
title: NM231 Choose Your Adventure
layout: layouts/base.njk
permalink: "/projects/NM231_ChooseAdventure/end.html"
---

<!DOCTYPE html>
<html>
<head>
     <title>Dallas Armieri: Choose your own</title>
    
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Old+Standard+TT" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>   
<body style="background-color: lightyellow">
        <div style="color: black; width: 550px; height: 1500px; background-color: #c4daff; margin: auto; padding: 50px">
            <pre style="font: 2px/1px monospace; color: black"><center>                                                                                                                                                                                                      
                                                                                                                                                                                                      
                                                                                   ,                                                                                                                  
                                                                                  :.                                                                                                                  
                                                                                 ::                                                                                                                   
                                                                                :::                                                                                                                   
                                                                               ,:::                                                                                                                   
                                                                              `::::                                                                                                                   
                                                                              :::::                                                                                                                   
                                                                             .:::::                                                                                                                   
                                                                             ::::::                                                   .,:,                                                            
                                                                             ::::::                                                ,::::.                                                             
                                                                            .::::::                                              ,:::::,                                                              
                                                                            ,::::::.                                            :::::::                                                               
                                                                            ,:::::::                                           :::::::                                                                
                                                                            .:::::::                                          :::::::.                                                                
                                                                            `:::::::,                                        ::::::::                                                                 
                                                                             ::::::::                                        :::::::.                                                                 
                                                                             :::::::::                       `              ,:::::::                                                                  
                                                                             .::::::::.                      `.             ::::::::                                                                  
                                                                              :::::::::                       :.            :::::::,                                                                  
                                                                              ,:::::::::                      ::.          `:::::::`                                                                  
                                                                               ::::::::::                     :::          ,:::::::                                                                   
                                                                               ,::::::::::                    ::::         ::::::::                                                                   
                                                                                :::::::::::                   ::::.        ::::::::                                                                   
                                `                              ,,`              ,:::::::::::                  :::::        ::::::::                                                                   
                                :                               ,:::.            :::::::::::,                 :::::        ::::::::                                                                   
                                :,                               ,::::,          ,:::::::::::.                :::::`       ::::::::                                                                   
                                ::                                ::::::          ::::::::::::               .:::::.       ::::::::`                                                                  
                               `::.                                ::::::         :::::::::::::              ::::::.       ::::::::,                                                                  
                               ,:::                                ,:::::,        ,::::::::::::.            `::::::`      .:::::::::                                                                  
                               ,:::,                                ::::::         :::::::::::::            :::::::       ,:::::::::                                                                  
                               :::::`                               ::::::,        :::::::::::::,          .:::::::       ::::::::::                                                                  
                               ::::::                               .::::::        ::::::::::::::          :::::::`       ::::::::::`                                                                 
                               ,::::::`                              ::::::        ::::::::::::::`        ::::::::       .::::::::::,                                                                 
                               .:::::::.                             ::::::`       :::::::::::::::       ::::::::.       ::::::::::::                                                                 
                                :::::::::                            ::::::.       ,::::::::::::::      ,::::::::        ::::::::::::                                                                 
                                ::::::::::,                          ::::::,       :::::::::::::::.    ,::::::::`       :::::::::::::                                                                 
                                `:::::::::::,                        :::::::       ::::::::::::::::   ,:::::::::       `:::::::::::::                                                                 
                                 ::::::::::::::,`                    :::::::       ::::::::::::::::  .:::::::::`       ::::::::::::::                  ,`                                             
                                  ::::::::::::::::::`                :::::::       :::::::::::::::: `::::::::::       :::::::::::::::                  :,                                             
                                   ::::::::::::::::::::`             :::::::       :::::::::::::::: ::::::::::,      ,:::::::::::::::                 `::                                             
                                    :::::::::::::::::::::.          .:::::::      ,::::::::::::::::,::::::::::`     .::::::::::::::::                 :::                                             
                                     ,:::::::::::::::::::::.        ,:::::::`     ::::::::::::::::::::::::::::     ,::::::::::::::::,                ,:::                                             
                                       ::::::::::::::::::::::       ::::::::,     ::::::::::::::::::::::::::::    ::::::::::::::::::.               `::::              ,:::::::,`                     
                                        `:::::::::::::::::::::.     :::::::::    .:::::::::::::::::::::::::::,   :::::::::::::::::::               `:::::            ,::::::::::::,                   
                                          ,::::::::::::::::::::,    :::::::::`   ::::::::::::::::::::::::::::,  ::::::::::::::::::::              `::::::           :::::::::::::::,.                 
                                            :::::::::::::::::::::  `::::::::::   ::::::::::::::::::::::::::::, :::::::::::::::::::::             ,::::::,          :::::::::::::`                     
                                             .:::::::::::::::::::: `::::::::::  `::::::::::::::::::::::::::::,:::::::::::::::::::::.           .::::::::`         :::::::::::,                        
                                              `::::::::::::::::::::`::::::::::: .::::::::::::::::::::::::::::::::::::::::::::::::::         `,::::::::::         :::::::::::                          
                                                :::::::::::::::::::::::::::::::,:::::::::::::::::::::::::::::::::::::::::::::::::::     `,:::::::::::::         ::::::::::,                           
                                                 :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::   .::::::::::::::::`        ,:::::::::,                            
                                                 `:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: ,:::::::::::::::::         `:::::::::,                             
                                                  .::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::,:::::::::::::::::,          ::::::::::                              
                               ,:::::::`           :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::`          ::::::::::                               
                            .::::::::::::           ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.           ::::::::::.                               
                              .:::::::::::`         ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::,            :::::::::::                                
                                 ,:::::::::`        `::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::`            :::::::::::`                                
                                   :::::::::         :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::             ::::::::::::                                 
                                    ,::::::::        ,:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::            ,::::::::::::`                                 
                                     ,::::::::       `::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::           .::::::::::::::                                  
                                      ::::::::,       :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::         `::::::::::::::::,                                  
                                       ::::::::`      ::::::::::::::::::::::::::::::::::::::,,,,,,,,,,::::::::::::::::::::::::::::::::::`    `,::::::::::::::::::::                                   
                                       `::::::::`     .::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::,::::::::::::::::::::::::::                                   
                                        :::::::::`     :::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::::::::::::::::::::::`                                   
                                         :::::::::.    :::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::::::::::::::::::::                                    
                                         ::::::::::,   .::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::::::::::::::::::::`                                    
                                         `:::::::::::,  ::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::::::::::::::::::                                     
                                          ::::::::::::::,:::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::::::::::::::::                                      
                                          ,::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::::::::::,                                      
                                           :::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::::::::::::                                       
                                           ,::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::::::::::                                        
  ,                                         :::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::::                                         
  `:                          `,::::::::,`  ,:::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::                                          
   ::.                    `,:::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::                                           
   ,:::`                ,:::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::                                            
   `:::::,          `,::::::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::.                                             
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::                                               
    `:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::,.`                      :                     
     ,:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::,                 .:,                     
      :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::.            .:::                      
       :::::::::::::::::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::,.`   `.::::::                      
        ::::::::::::::::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::::::::::::::::::                       
         .:::::::::::::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::::::::::::::::,                       
           `,::::::::::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::::::::::::::::                        
                             .::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::::::::::::::                         
                                `:::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::::::::::::,                          
                                   ::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::::::::::,                            
                                    .::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::.                                           
                                      :::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::`                                              
                                       :::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::`                                               
                                        ::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::,                           .:::::,`          
                                         :::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::                      ,:::::::::::,        
                      `,::,.              ,:::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::`                ,::::::::::::::::       
                    .:::::::::,`           `::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::,`         `,::::::::::::::::::::`     
                   ::::::::::::::,`          ,:::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::::::::::::::::::::::::::::::::`    
                  :::::::::::::::::::,.````,:::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::    
                 ::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::   
                :::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::::::::::::::::::,`      `,::,  
               .::.`    `,:::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::::::::::::::::`             ,` 
               ,            ,::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::::::::::::::                   
                              ,::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::::::::::::                     
                               `:::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::::::::::,                      
                                 ,:::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::::::::::::`                       
                                  .::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::::::::::::                         
                                    ,:::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::::::::::.                          
                                      ::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::::::::,                            
                                     `::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::::::,                              
                                   :::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::::`                                
                                 :::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::,`                                   
                               ,:::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::                                            
                              :::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::.                                          
                            .::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::.                                         
                           ,:::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::.                                        
                          ::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::`                                       
                         ,::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::                                       
                        ,::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::                                      
                       `:::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::,                                     
                       :::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::::,                                    
                      ::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::.                                   
                     ::::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::: `.:::::::::::::.                                  
                    ,::::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::    .:::::::::::,                                 
                   ,::::::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::.     `:::::::::::`                               
                  ,:::::::::::::::::,````,:::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::       ,:::::::::::`                             
                 :::::::::::::::.              `.,.,::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::       `:::::::::::::,....,                     
               `::::::::::::::`                   `::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::`        ::::::::::::::::,                      
              ::::::::::::::`                    `:::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::         .:::::::::::::`                       
           .::::::::::::::,                     .:::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::          ,:::::::::,                         
  ,:,,,,:::::::::::::::::                      ::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::.           ,:::::.                           
   `:::::::::::::::::::,                     ::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::`                                            
     :::::::::::::::::`                   ,:::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::::`                                           
      ,:::::::::::::,                 ,::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::::::.                                          
        ,::::::::::               `,:::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::::::::::                                         
          `,:::,.                :::::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::::::::::::.                                       
                               .::::::::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::::::::::::::::.                                     
                              .:::::::::::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::::::::::::::::::::,`                                  
                              :::::::::::::::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::::::::::::::::::::::::::::::,`                              
                             :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::,                           
                             ::::::::.             :::::::::::::::::::::::::::::::::::::::::::,,,,,,,::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.                        
                            .:::::,               ,::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::`                      
                            :::::                `:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: `::::::::::::::::::::::::::::::::::,                     
                            :::,                 :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.  ,:::::::::::::::::::::::::::::::::,                    
                            ::.                 ,:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::,    .::::::::::::::::::::::::::::::::.                   
                            :,                  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::       ,::::::::::::::::::::::::::::::                   
                            :                  ,:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: ,:::::::::::           .,::::::,,..,,:::::::::::::,                  
                                               :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::` .::::::::::                             .:::::::::                  
                                              .:::::::::::::::::::::::.`::::::::::::::::::::::::::::::::::::::::::::::::::::::::`  ,:::::::::`                               :::::::                  
                                              ::::::::::::::::::::::,  .::::::::::::::::::::::::::::::::::::::::::::::::::::::::`   :::::::::`                                `:::::.                 
                                              ::::::::::::::::::::.    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::`    ::::::::.                                  ,:::,                 
                                             .::::::::::::::::::`      :::::::::::::::::::::::::::::::::::::::::::::::::::::::::`    .:::::::,                                   ,:::                 
                                             :::::::::::::::::`       .:::::::::::::::::::::::::::::::::::::::::::::::::::::::::`     ::::::::                                    ,::                 
                                             :::::::::::::::.         ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::`     .:::::::                                     ::                 
                                             ::::::::::::::          .::::::::::::::::::::::::::::::::::::::::::::::::::::::::::`      :::::::                                      :                 
                                             :::::::::::::           :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.      ,::::::`                                     `                 
                                            `::::::::::::           ::::::::::::::::::::::::::::::: .:::::::::::::::::::::::::::,       :::::::                                                       
                                            .:::::::::::           ,:::::::::::::::::::::::::::::::  ::::::::::::::::::::::::::::       :::::::                                                       
                                            .::::::::::`          .:::::::::::::::::::::::::::::::   ::::::::::::::::::::::::::::       .::::::,                                                      
                                            ,::::::::::          .:::::::::::: ::::::::::::::::::.   :::::::::::`::::::::::::::::        :::::::                                                      
                                            ::::::::::          .:::::::::::,  ::::::::::::::::::    ::::::::::` ::::::::::::::::.       .:::::::                                                     
                                            :::::::::.         `:::::::::::    :::::::::::::::::     ,:::::::::  `::::::::::::::::        :::::::,                                                    
                                            :::::::::          ::::::::::`     ::::::::::::::::,     ,::::::::,   ::::::::::::::::`        :::::::,                                                   
                                            ::::::::,         :::::::::,       ::::::::::::::::      ,::::::::     ::::::::::::::::         ::::::::                                                  
                                           .::::::::         ,::::::::`        :::::::::::::::.      :::::::::     .:::::::::::::::.         ,:::::::.                                                
                                           :::::::::         ::::::::          :::::::::::::::       ::::::::       ::::::::::::::::           .:::::::`                                              
                                           ::::::::`        .:::::::           ::::::::::::::,       :::::::,        ::::::::::::::::                                                                 
                                          ,::::::::         :::::::            ,:::::::::::::        :::::::          :::::::::::::::,                                                                
                                          ::::::::.         ::::::             .:::::::::::::       .::::::,           :::::::::::::::.                                                               
                                         ,::::::::          :::::,              :::::::::::::       ,::::::`            :::::::::::::::`                                                              
                                         ::::::::,          :::::               ::::::::::::,       :::::::              ,::::::::::::::`                                                             
                                        :::::::::           ::::,               ::::::::::::.       ::::::,               `::::::::::::::`                                                            
                                       :::::::::.           .:::                `:::::::::::`       ::::::`                 ,:::::::::::::                                                            
                                      ,::::::::,             :::                 :::::::::::`       ::::::                    :::::::::::::                                                           
                                     ::::::::::              :::                 ,::::::::::`       ::::::                     `::::::::::::                                                          
                                   `:::::::::,                :,                  ::::::::::.       ::::::                       ,::::::::::,                                                         
                                  ::::::::::                  ,.                  ,:::::::::,       ::::::                        `::::::::::                                                         
                                `,,:::::,`                     .                   ::::::::::       ,:::::                          ::::::::::                                                        
                                                                                   ,:::::::::        :::::                           :::::::::                                                        
                                                                                    :::::::::        .::::.                           ::::::::.                                                       
                                                                                    ,::::::::         ,::::                            :::::::,                                                       
                                                                                     ::::::::`         ,:::                            `:::::::                                                       
                                                                                     ::::::::,          .::,                            :::::::                                                       
                                                                                     `::::::::            ,:                             :::::,                                                       
                                                                                      ::::::::              ,                            :::::.                                                       
                                                                                      ::::::::                                           `::::                                                        
                                                                                      ,:::::::                                            ::::                                                        
                                                                                      .:::::::                                            :::,                                                        
                                                                                      `:::::::                                            ,::                                                         
                                                                                       :::::::                                            .:,                                                         
                                                                                       :::::::                                            `:                                                          
                                                                                      `::::::,                                            `.                                                          
                                                                                      .::::::                                             `                                                           
                                                                                      ,:::::,                                                                                                         
                                                                                      ::::::                                                                                                          
                                                                                      :::::                                                                                                           
                                                                                     ,::::                                                                                                            
                                                                                     ::::                                                                                                             
                                                                                    .::.                                                                                                              
                                                                                    :,                                                                                                                
                                                                                   ,                                                                                                                  
                                                                                                                                                                                                      
</center></pre>
   
            
               <h3>--------------------------------------------------------------------------</h3>
            <p style="margin: 10px 10px 10px 10px; color: black">
You head down the tunnel and up some stairs into sunlight. After so long in the dark, you are simply happy to be in the light and sky again.
            </p>
            <h1><center>
                    <br>
                    <a style="text-decoration: none; color: white"href=bossroom.html>
                 <a style="text-decoration: none; color: black" href=index.html>The End </a> 
                      <h3>--------------------------------------------------------------------------</h3>
                    
            </center></h1>  
    </div>
</body>
</html>