---
title: NM231 Choose Your Adventure
layout: layouts/base.njk
permalink: "/projects/NM231_ChooseAdventure/left.html"
---

<!DOCTYPE html>
<html>
<head>
     <title>Dallas Armieri: Choose your own</title>
    
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Old+Standard+TT" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>   
<body style="background-color: black">
        <div id="greenMiddle">
            
            <p style="margin: 10px 10px 10px 10px; color: black">
                <pre style="font: 4px/2px monospace;"><center>                                                                                                                                                                                                        
                                                                                                            .+:                                                                                         
      `#'     ';`                                            :;;            '##                             +'++;                                                                                       
`     :#++: ., '++   +                                     `;;+++;;'':     +###                             +++''++         ;.                                                                          
`   +++:'++;`  ;+++` ,'         `',+##+,                   ;'+++'+'''';   +++++'         `++``+##+          +++++'+'       `+';;`                                                                       
`   '#'++'+;,;.'+++. +++        .##++:;+'                  ++++''++#+;+' +++++'#  `''++':'#+++'+###         ++++++++       :+++++;`       .'+                                                           
`  .++' ++`   `'++:  ++;##+,.;, #'+++,;:::                 ++++:++#+++';++++'+;+++'+++####++++#'+++#        '+;+#+++'.,  `;#++#####';;''++;..';   .'` `,.                                               
   :#+  #'   '''#+#'`'++###+##+'##++;,,;:,,                +++;;+++++#++,,+''+:;+'++++####',#####+++        `++++#+++##+,+++ +;;'#++'+##'  .,+#+++:'#+#+'+:                                             
   :#,  #    +':##@#''++';#+###+###+:,:,;:,;.         `,'''+++;'++++++;..++,''.:++;:'+##@+:`;#++##+#;      .,'+++++++##,+##` +';;++###+## ,;'+#+##  ``#+#+++;                                           
`  :,  .    `+';####;;++'#++++++###:;,,::+++++,     '+++####++'''+++''''+++,:,:++'+;;;'##,  .++######+    +#+#++++:+++:+###''::#+;+####+'#;,#+++++  ;+###++++.                                          
`  .   `   `#+:'####++##+;;+++++##+;+###++++####   ++++######+'''''+'; ###';''##########';`.+#++####+#:  +#### +++:';;;+####+:+:#;#'#####++;`,;''######++'';;,    '`                                    
`          ###+'+###@#@###.:'+++#+++#####++++###  `++++######'`++'';'  ++#++`'+########@##++###'++#####+,#####  +:;''.+######++,+####'######,`;;',######';:+.`   ;+.                                    
`         '++++#+########@###:+#+'++##+##++++#+#  `++++#+####: ###+;+`+#''+; ;+############'++##+#'####+######  '++';,'######+''####+######'#;:.;:;########;.,   '+++.                                  
`         +++++###############  +,++#++###+++++' .:##+#######+########'+#+#'  +##########` ;+++###++###+######  :,;'';''#####+;+'####+#######'',::'#####+###+;. ';;+++;                            .;   
`         '#++++#+############# '  +#+####''++'    +++#+#+###+;######+++###''` :#########' :+++++++++##+###+#';;:,:.''':###+ ;,;#'++'+########`..:,++++#+'+':;:'++#'++';          .:.             +###` 
`         +'++'++#########'#+#`,'  .#;+### ''+;.;+;,'+#'#+;+;'######++++++#+';   ;##+'#;'# .+++++++''+######+. .;',.+'+:+##:. ,#'###'+######+#+:,;+'+;+++#+'+:,'++;'++''         `,..:.+     ++,  ++### 
`        .+++#'++#+######.+#+#.     ;+'+:..`''       ......;++######:#++;++'+:   +#';;+;:;+`++++++#;:'+####++  :,.:.'';#+'++++;+';##+'+######.#;'`:+,:+++#+;:++''+;:#;+`           ;;:,;+   +++'.,'####`
         ;'++;''+++++####` .'+,     `;`      .             +###'###++#':++++'`   +#':#+;:::#+'++++++';:'##:+#+:..,,:;+##+++++++';+#+#+######',;+'. :,'',;+++;:'++:+'++;             ++''+  :++#;''.+###,
         ++++'++++'++#+#`    .                           .'+++#####;##:.'+'''   `+#####+;:##''+++'+';;#:+,+##++  :####''++''++++'+'#++###:'###+#+++;''..+''++::'#+''++               +#';` +''':'+++###'
        `;''++'';+'+++;                                  +#+;+++###, `'';'''. +#,:,++#++::###';++++''';+.;,'###; ''#+###'+'+'+++++++'+++#######,..,;'.`'''+'''.'#+:++`               .;+:  .;'+:';++;:. 
          ;'''':+'''`                                   `##;;+'+#+#,  #+;''  ':'``''++#+::##'''+++'''`,'##'++;::,+'#+;'#'''''++''+#'''''+#####;:..;;;;;'',''''.`+':                   :+.  `;'';;;;+    
             :';':                                      ;##'++'++#+.  ' ,`  `##+',+++###:;#:'#'++''':,;'+'+;####''#+##''+';;''+++++:;'++++++##;.,`;;.;;;;:;'';;,:',                  `'+. .:+'.',:;'    
                                                        ;+##++:++#,   ;     ;#++';,''###'#:'##++''',  .'+''';#+#:+'''##++''''''+'+';;;''+'++++;::.;':;,;:;;'';+;`'                  ''##+';++,.;,;+     
                                                        `##''+:+#+,  .'     ':++'..;';'''''+## ';;.    '';'+:;++`'';;'++#;''''''++;,;'+'''+++;;;. . ,;;::;;;;++'`,`       `,       ;'+#+++:##..;;+;,`   
                                                        `;''+''+:..  ,'     ::+'::'';;++;''++, ::,`    ;'.:'+'+:,'''''+#+;;;';''` '''';'+''+#':, `; . ;';;`  ++',:.       :,   .'':;+:+##'##+''+#+;;+,  
                                                        `;''+++  ,   ,;     `:+';'';''#+,'''+.      ,  ,;,.:+';  '''''+# .;;;;'##; '''''+';'+:.,`,'    ;     :':;;;.     .;`,  ;:'';'+###;#++#++++':;:  
                                                       `'';'''':;    ;'      ;+',``..##.,';'++      ,,;:::...:;  `';;:#+ .:'####+  ;'';'';';+,`;,:,           ', ; . `   ::`::.;+,.''+##+`'#+#+#++'+',  
                                                       ''''':;+.     .+;     ;`'';..###  ;::`;`     ,,,,,:.. ;, `;;;,#@@+#####+###' :;;';:+,';;' .            ;` ,  ` `  :.`:;:''+.''#++  .+#++#++''';. 
                                                      '+++:''''''`   . :;    ,;.'+#+##;  ;;:'``     ::`;.``.`,' +':;###+#++#++:,:,:#:;;';,.';;:` ;            .     `   :.,.:;  .+:''+'   ;'++++';':;;  
                                                     `++;.;;''''+;`  .  `+;   #'##+'++    ;;';     ,:: ,     ;;+######'+++''+,`'++;#+;;:;`,';:`                      .  ,`:`:  .:,,'+`  ;;;;+++':;'.;   
                                                     '+,:::;;;;''+;  .    :#'`:'+++'+;    :';;     `,.`     ` `;#;'##;#+;++#;;`;:'###:';;`.':`                       ;  `.:`.`     `   .:.`++'' ,;:,    
                                                    ``,:;::;';;;'''.``      .;#' ,+'+      ',       `.      :  '  ;':+'++#+#':;++'###+;;;`,::.                      :', `.   ,         ;:`.;'`   :,`    
                                                           .;;;''''::`             ,;      .         .`     ,  `  `;+,,;;+###.;'+;;++#.;.`,:+.                     .'':`               :';..     .`     
                                                            ;;;;;'+';`              .                :`       ..`  ,` `.;.### .'+'+++'  .;#'#                      ,.`',      ,,;;,    ;,';             
                                                            ;;;;'''''.     `:;;                      `            ;''`::...++`  '':'''    ;#,                     ,`:':;`     ::```.   '`;:             
                                                           `;;;'''''',   ;+;'':                            ` `.`  :'':`.;;',+.   :;'''                            :;,;:;      :',`.,   ;`,.             
                                                           :;'''''';; .+++++;;;                              ',` :+;';,:,',',      ;,,                           .;::;;.      ;:,..``  ;`.              
                                                           ;;';;;;::;####+';'':                             :;';;++;;;;:''';`       ,                            `;:,::       `::`:;,  `.               
                                                           ;;;:;::+',####+++++                              ;:';++##,;;:;':,                                     .,:           :;`.:    ,               
                                                          . `.,.,+;+'####++++;                             ,;,+;+++#+,;;,;',                                                    :.`,                    
                                                                 `;#`++#++++'                             `:,,';+++#++',;,`,                                                     .`                     
                                                                  ,,;' ,+++.                             ` ...'``:+++;:`.;`                                                       `                     
                                                                 : ` ;                                   `  `.+          `;`                                                                            
                                                                 ;  ,,.:,                                ``:,`; :                                                                                       
                                                             ````: ,''''':                               ` `;.  ';                                                                                      
                                                            ###++++,''''';:                                      :                                                                                      
                                                            ;####++.;'':';;                                      ,                                                                                      
                                                             .##++':;';;;;:   `.   ,                              `                                                                                     
                                                               '++:;';;;;;,  +++++'  ``                 `  `;'`   ,                                                                                     
                                                               +++;;;;::;;` ++++++    .                 .  ;;;,`` ;                                                                                     
                                                               ,++       `   ;.,:`    `                 . `;:;''::.                                                                                     
                                                                `;        `` ';''     '                 ;`,;;:;:';;,                                                                                    
                                                                `:          : `,'';` ;                  , .:;;:''';:                                                                                    
                                                                `.             ;';;;;;                  , ,:::;;'';:                                                                                    
                                                                ;`            :';;::  `                 . ,,,;;;:;;                                                                                     
                                                                .;.          `;;;;:;                      .:;;::;:`                                                                                     
                                                               ` ;'          '::;;:`                      `;;::::.                                                                                      
                                                               : ;'`        :;::::,                      . ;;.                                                                                          
                                                           `'+;':''`        ;,:::`                       .                                                                                              
                                                          '+'' ;;''`       ..                            .                                                                                              
                                                         ,+,'; :';'`                                     `                                                                                              
                                                         ':++, ;;;;                                                                                                                                     
                                                         ,'++ .;;,                                        :`,`                                                                                          
                                                         '++'  .                                            ,.                                                                                          
                                                         `++,  ;                                            ,,                                                                                          
                                                          ''.  ':`                                       ``,.;                                                                                          
                                                           '` ` :';                                      `+';''                                                                                         
                                                              +':;'                                     ;+';;;;:                                                                                        
                                                           `,;,;;;''':                                   `;;::;                                                                                         
                                                          ''.  :;:'.'';                                   ;   : `                                                                                       
                                                         ;';   `;:;  ''                                   .:``;:.                                                                                       
                                                         :;;    ;::   '                                   `   :,;,                                                                                      
                                                          ,,   .:,                                         `  ,::;                                                                                      
                                                               ,`                                          '  .:;;                                                                                      
                                                                                                           ';`.:;;                                                                                      
                                                                                                          ;'':::;.                                                                                      
                                                                                                        .'''':;::                                                                                       
                                                                                                       .;''''';:                                                                                        
                                                                                                      .;'''''';                                                                                         
                                                                                                     .;;'';'';;                                                                                         
                                                                                                      ,,::;;;';                                                                                         
                                                                                                        `::. .,                                                                                         
                                                                                                             .                                                                                          
                                                                                                           `                                                                                            
                                                                                                         ,                                                                                              
                                                                                                       ::;,                                                                                             
                                                                                                      ,;;:;'                                                                                            
                                                                                                     `:;;:;::                                                                                           
                                                                                                     ,:;:,:''.                                                                                          
                                                                                                     :,+++;,,,`                                                                                         
                                                                                                      ;++;;;++++                                                                                        
                                                                                                       ;;'++''';;                                                                                       
                                                                                                    `  ':;;;;:;;,                                                                                       
                                                                                                    `  ;;:;;'';.                                                                                        
                                                                                                       `';:::`                                                                                          
                                                                                                                                                                                                        
                                                                                                     `                                                                                                  
                                                                                                                                                                                                        
                                                                                                      `                                                                                                 
                                                                                                     ,,',                                                                                               
                                                                                                    ;.+.':                                                                                              
                                                                                                   ,:'+;.':                                                                                             
                                                                                                   ;+'+###++++.                                                                                         
                                                                                                  :++++'''++'                                                                                           
                                                                                                  .++++''+'':`                                                                                          
                                                                                                  `+++#+';;::`                                                                                          
                                                                                                   ;#+##;;;;:                                                                                           
                                                                                                    `++#; :: ,,.  `+++,                                                                                 
                                                                                                       .       .  ,#'.++       ,'                                                                       
                                                                                                                  ,:;:,#'    `'':                                                                       
                                                                                                                 ,::::',+`,.                                                                            
                                                                                                                ,::';;;;`                                                                               
                                                                                                                '';:;;;;.                                                                               
                                                                                                               ,'::::;',`                                                                               
                                                                                                               ,:,,,,::,                                                                                
                                                                                                                 .,,,,                                                                                  
                                                                                                                                                                                                        
</center></pre>
            <h3>--------------------------------------------------------------------------</h3>
   You push past vines that seem to be growing thicker as you proceed. Eventually you have to draw your sword and start slashing to continue. When your sword breaks past a particularly dense section you can see into another cavern but hear an odd slithering, scratching noise. What do you do?
            </p>
            <h1><center>
                    <br>
                    <a style="text-decoration: none; color: black"href=vines.html>Continue carefully into the room </a>
                    <br>
                    <a style="text-decoration: none; color: black"href=death.html>Run in sword blazing. </a>
                    <br>
                   <a style="text-decoration: none; color: black" href=deadk.html> Retreat to previous cavern.  </a> 
                  <h3>--------------------------------------------------------------------------</h3>
            </center></h1>  
    </div>
</body>
</html>