---
title: NM231 Choose Your Adventure
layout: layouts/base.njk
permalink: "/projects/NM231_ChooseAdventure/light2.html"
---

<!DOCTYPE html>
<html>
<head>
     <title>Dallas Armieri: Choose your own</title>
       <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Old+Standard+TT" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
        <div style="color: black; width: 550px; height: 600px; background-color: #fff79e; margin: auto;">
            <p style="font-size: 70"><center>
           </center> </p>
            <p><center>
<pre style="font: 8px/4px monospace;">
<pre style="font: 10px/5px monospace;">@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@+@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#####+#####@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@######+'+#######@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@#########+''+########@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@######++++';;+++++######@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@#@@@#####+++++++':;'++++++#####@@@#@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@#@#####++++++''':;'''++++++####@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@#++##+++++'''''':;''''''++++++#+#@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@#;'+++'''''''';;;''''''''++++''#@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@###';;'+'''':;;;;:;;;;;;''''+';;+##@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@##++;:;'''';.,;;;:;;;;.,';''';:'+###@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@###++';:;';;;::;::,::;;::;'';;:;'+####@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@####+++';:;;;;:::::,,:::::;;;::;'+++###@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@###+++''';:;;::::,,..,::::;;::;'''+++###@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@##+++''';;:,:::,,..`..,,::::,;;'''+++###@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@###+++'';;;;:.,..,.```.,,...,:;;;'''++###@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@###++''';;;::,``...` ``...``,:;;;;'''++###@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@##+++'':.::::.` ```   ``` `.,::;,,;'+++###@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@###+++'';,;::,..`          `.,::;,:;'+++###@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@###++''';;;::,,.`         ``.,,::;;;''+++##@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@###++''';;:::...`         ``..,:::;;'''++###@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@#++'''';;;::,..``          ``..,:;;;;''''+##@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@++';;:::::::,.``              ``.,:::::::;''#+##@@@@@@@@@@@@
@@@@@@@@@@@@@@@@#+'';;;;;;:,..`             ``.,:;;;;;;;''+#@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@##++'''';;::,..``          ``..,:;;;''''++#@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@###++''';;;::,,.`         ``.,,::;;;'''++##@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@###++''';;;::,,.`          `.,,::;;'''+++##@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@###+++'':.::::..        `  `..::;,:'''++###@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@##+++'';,:;::,``````  ``````,::;,:'''++###@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@###+++'';;;;:.``...` ``....`,:;;;'''+++###@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@###+++''';;;:,,..,,.``.,,,,,.:;;;'''++###@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@###++'''';:,::::,,.`..,,::::,;;'''+++###@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@###+++'';::;;:::::,.,,::::;;;:;'''+++##@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@###+++;;:;;;;;;:::,::::;;;;;;:;''++###@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@###++';:;';;:,:;;;:;;;;,:;''';:;'+###@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@##++;:;'''';,:;;;:;;;;,:''''';:;+###@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@##+;''+'''';'';;;;;'''''''''';;+##@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@+'++++++'''''';:;'''''''++++++'#@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@#####++++++'''':;''''++'+++####+@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@####+++++++'':;''+++++++####@@#@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@#####++++++':;'++++++#####@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@########++';'+++#######@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@########+'+########@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@######'+#####@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@####@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
</pre>
</pre>
                <p>
                Your light illuminates the room.
                </p>
            </center></p>
                 </p>
            <p><center>
                    <a style="text-decoration: none; color: black" href=light.html>Cast your only spell (small light).</a> 
                    <br>
                    <a style="text-decoration: none; color: black"href=death.html>Run ahead blindly.</a>
                    <br>
                    <a style="text-decoration: none;color: black"href=death.html>Draw Your sword.</a>
                    <br>
                    
            </center></p>
            
    </div>
</body>
</html>