---
title: NM231 Choose Your Adventure
layout: layouts/base.njk
permalink: "/projects/NM231_ChooseAdventure/light.html"
---

<!DOCTYPE html>
<html>
<head>
     <title>Dallas Armieri: Choose your own</title>
    
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Old+Standard+TT" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>   
<body style="background-color: black">
        <div id="yellowMiddle"> 
            <p2 style="margin: 0px 0px 0px 0px; color: black">
                <pre style="font: 10px/5px monospace;"><center> `                                                                            ````````````
 @#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 #@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @@@@@;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@ #@@@@#`
  @@@@@  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@##@##@@@@@@@@@@ ;@@#@@ 
  @@@@@  @#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#` #@@@@@@@@@; '@#@@, 
  #@@@'  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#  `@@@@@@@@#  :@@#@  
   @@@   @#@@@@@#@:@@#@@@##@@@@@@@@@@@#@@@@@@@@@@@@##@@ `@@@@@@@@@@#@   @#@@@@@@@  :#@#@  
  `@@@   ,@@@@@@#+ @@@###+#######@@@@@#@##@#@@@@###@@     @@@@@#@@@@+   @#@@@@@@@  .#@@@  
   @##    ######@. @@@###  @###########@`#@###@@###;`      @#@#####@,   @@#######   @##+  
   @@     ######@` +####'   @##########: #####@ @##        :#######@    @#@####@;   @##`  
   ,'     @######` ;#### `  +@########@; @@###@ ;@#         #######@    +#######@   @@#:  
   `'     `#@###@` `###@    `##########, @####@ :#@         #######@    :#######@   @@#   
    '      @@@##@   #@#+     @#########. ;@#### ,#@         +@#####+    `#######@   @#@   
           @@####   :##;     ;#########` `####@ .##         `######,     #######:   ##:   
            `@##+    ##:     `#########`  @###,  #'          #####+      #######     #    
             @##:    ##,      #########`  ####   @'          #####:      #######     #    
             ###.    @#.      #########   `###   @`          #####       `#####@    ``    
             ###     ##       #########    ###   '`          #####       ;######          
             ###     ##       @########    +##               +###@       @######          
             @##     +#       @#######@     ##               #####       #######          
             @#+     :#       @#######@     ##               ####        '#####           
             @#'     `#       +#######+     #,               +###        @+####,          
             @##      :       :#######.     #`                ###        +#####;          
             ##.              `#######      @                 ###         ####+           
             '#                #######      `                 @##         #####           
             .#                #######                        ;#`         #####           
              #                @######                        .#          ;####           
              #                #######                         +          ;###+           
               `               @######                         #          ;###,           
                               +######                                    '###            
                               .#####@                                    :+##            
                                #####+                                    .#+#            
                                #####'                                     ###            
                                '####`                                     #+;            
                                #####                                      #+,            
                                #++##                                      ++             
                                #+++#                                      +#             
                                #++#`                                      :@             
                                +++#                                                      
                                :++#                                                      
                                 #++                                                      
                                 +++                                                      
                                 +++                                                      
                                `+++                                                      
                                 +++                                                      
                                 ++:                                                      
                                 ++'                                                      
                                 +++                                                      
                                 #++                                                      
                                 ;+'                                                      
                                 .+,                                                      
                                 `+`                                                      
                                 `+`                                                      
                                  +`                                                      
                                  +                                                       
                                  +`                                                      
                                  '                                                       
</center></pre>
    <h3>--------------------------------------------------------------------------</h3>
     Your small glowing yellow light illuminates the cave you are in just in time for you to see an arrow flying at your face. You dodge it just in time! Across the room a skeletal archer prepares another arrow. What do you do?            
                
            </p2>
            <h1><center>
                    <br>
                    <a style="text-decoration: none; color: black"href=skeleton.html>Draw your sword, and carfully advance.</a>
                    <br>
                    <a style="text-decoration: none; color: black"href=death.html>Throw your sword at it. </a>
                    <br>
                   <a style="text-decoration: none; color: black" href=leftv1.html>Run towards the closest side tunnel. </a> 
                    <br>
                
                    
            </center></h1> 
            <h3>--------------------------------------------------------------------------</h3>
            </h3>
            <h2><center>
                
                </center></h2>
    </div>
</body>
</html>