---
title: NM231 Choose Your Adventure
layout: layouts/base.njk
permalink: "/projects/NM231_ChooseAdventure/loot.html"
---

<!DOCTYPE html>
<html>
<head>
     <title>Dallas Armieri: Choose your own</title>
    
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Old+Standard+TT" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>   
<body style="background-color: black">
        <div id="greenMiddle">
            
            <p style="margin: 10px 10px 10px 10px; color: black">
                <pre style="font: 2px/1px monospace;"><center>                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                  .:::::::::,,,,,,,,,,,,,,,,.....................``````````````                                                                                                         
                                 :;;;;::::::::;;;;;;;:;;;;::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,..........`````````                                              
                               .:::;::::::::::::::;::::::::::::::::::::::::::,::::::::::::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::,,                                   
                        `,,,,.,::::::::::::::::::::::::::::::::::::::::::::::::;:::::::::::::::::::::::::::::::::::::::::::::::::::,:,,,::::,::::::::,:,,,,,,,::::::::                                  
                       `::,';:;::;::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::,,,                              
                      .:::'+:;;;;;;::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:,,,,:::::::,                             
                     ::::;#:;:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::,:::::::::::,:::::,::::,:::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::,::::::,`                          
                    ::::;'::::::::::::::::::::::::::::::::::::::::::,:,,,,,,,,,,,,,,,,::,::::,:::::::::,:,::,,,,,,,,,,,,,:,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::,,::::::::::.                         
                   :;::'+::::::::::::::,,,,:::::::,,:,:,::::::::,,,,,,,,,,,,,,,,:,::::::::::::::::::::::::::,,,,,,::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::;:::                        
                 `::::'+,:,:::::::,:,,::::::,,:::,,,,,,,,,,,:,,,,:,,,:,::,,::,,,:::::,,::::::::::,::::::::::::::::::::::::::::,,,,,,,,,,::::::::::::,,::,,,,,,,,,,,,,::::::,:;;::`                      
                .::::'+:,:::;;:;:;;;;;;;;:;;;:'';:,:,,:::::::,,::::::,,:,,,,,,,::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:,,::,,,:::::::::::::::::::::,:,,:,:::::,,,,::,:::::::;::`                     
               ,::::'+;,:;;:::::::::::;;:;;;;;;':;:::,:::::;:::::::::::;::;::;::::::::::;:::::;:::::::::::::::::::::::::::::,:,,,,,:::,::,,:,:,:,::::,::::::::::::::::::::,:,::::::,                    
              ::,:,+:,,,:;;;';;;:;;;;;;;;;;;;;;'';:,:;;;;;;;;;;;;;;::::;;;::;;::::::::::;:;:::;;;;;;;;:;;::;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;::::::::::::::;';;;;;;::;::;:::::;:;;;:::                   
             :::::+:,,,,'''''''''''''';;;;'';;';;;;;;;::;;;:;;;:;;;;;;:;;;;:;:;;;;;:;;;;;;;;:;;;;;;;;;;;;;;:;;;;;;::;;;;;;:;:;;;;:;;;;;;;;;;;;;;;;:;;;;;;;';;;';''''';'''''''''''+;:::                  
           `::::;':::::::::::::,,,:::::''':::::;:;';;;;;'''''''''';;;;;;;;;;;:;;::;;;;;:;::;;;;::;;;;;;;;;;;;;;;;;;:;;;;:;;;;;;::;;;;;;;;;;;;;;;;;;;;;;;;;'''';;''''';';;;;;;'';'++;:::`                
          `::::;'::,,,,,,,,,,,,,.,,,,,,,,,,,,,,:,::,:::,,,::::,:,,:::,,,::,,,::::::::::::;;;;;;';''''''++;'''++#'+''''''''';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;';;;''';;;;;;;;;;;;;''+;;::,               
          `;;;;:':,,:::::::::::::::,,,,::,::,,,,,,:.,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:,,::::,,:::::,,,::::::,:::::,,,,,,,,,,,:::::::;;;;;;;''''++###+#++#++'''';''''''';;''++''';:::,              
          .;;:;:;::::::::::::::::::::::::::::::::,,,:,,,,,,,,,,,,,,,,,::::::::::,::,,::,:,:,,::,,,,,.,,,,,,,,,::::::::,:::::::::::::::::::::::::::::::::::::;;,;;:;;:;;::::::::::::::;:::::             
          `;::;:':::::::::::::;:::;:;;::::;;::::::,::;;;:,,::::,,::,::,::;;:;;::::::::::;::::,:::::::::::::::,::::::,::,::,:,,,,,,,,,,,,,,::,:,:,,,,:::,:::;:::::::::::::::::::::::::::,,::.`           
          `;;:'+',:::::::::::'::::::;::::::::;;;;';;::::::;:::::;.::::,::::;;;;:;:::::::;;;;;:::::::::,::::,,,,,::,:::::::::,:::::::::::::,,,::,,,,::,,,,,,::,::::::::,:;;;;;;::::::::,,:::::,          
          `;::#@;,:::::::::::.::::::;;;:::;;:;;;::::::;;::;;:::::::::::::::::::::::::,,,,,,,,,,,,:,,,,,..,,,,,,,,,,;,,:,,::::::,::::::::::::::::,::;,:::::::::::::::::::;;;;';;;;';;;;;;::;;;'          
           :;:::;,::::::::::::,,:::,::::::;::::::::::::::::::::::::;::::;:::::::::::,,,,,,,,,,,,::;;;'''';;;;;,,,,,,,,:,,::::,:::,::,::::,,::;::::::,,,::,:::::::::::::::::::::::::;;;;;::;'''          
           :;:',;,,,,,::::::::::;:;,:::::::,:;:;:,:,,,,:::::::::::::::;::::::::;:::::::::,,,,,,:',;;;''''''';;+':,,,,,:,:::,::::::::::::,::::,:::,:::,,:;;;;;;;:,::::::,:::;;;;:::::,:::+:;;;'          
           `.'###++++'''''';;';;;;:;::::::::::::,:,,,,,,:,:,,,:::::::::::::::::::::::::::::,,,,:;;+++++++++'''#+':::;::,::::::,,:::::::,::::::::::::::;;;;';;;;;;;;::,,,::#;;::::::::::;:;;:;'          
            ;''+'';;;'''''';''''+++@@@@@@@@@@#######@@@@@#########++###++'''';';;;:::';::,:,,:::'';''';'''#####++';::::::::::,,,,,:,,,::::::::::,:,,::;;;;;;;;;;;;;,:;::::';::::::::::'';;;;;'          
           `.:::::,,,,,,::,,:::::;;'+#';;'';:;:,:,::;'##+;:..,.,,.::::::,,::::;;;;;;;;;+++###++++'''+''''''':,@@#########+++++';;;;:::;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;,:,:;;;:::::;;;;;#;;;;;;'          
           `.,,::::;:;,::::,::::::::;::::::,,:::,::::;;:,,.,,,,,:,,,,,,,,,,,,,,,,,,,,;:;;::,::::;'''''''';''++#++''''''''';;''';'''+'++#++++#################+++'+''''';;;::;;;;;;;;:;:;;;;;;;          
           `,:;;;;;;:;'::;;:;:::::::::,,,.:::,::,::::;:;;,,:::,,:::::::::::;,:,,,,:::::;:::;:::;;'''''''''''''#+';;;;;;;:;:;;;;;;;;::;;;;;;;;;;;;;;:;:;;;;;''+@@@@@@@@@@@@@@@@@@@@@@@@#@@@@@#           
            ,;;;;;;;;:::;'''';;;;::;;;;;:::;::::::;;;;:;;:::::::;;;;;;;;;:;:::::;;;:;;;;::;;;;;;;;;'''''''''+'#+;';:;;';;;;;;;;;;;;;;;';;;::;;;;;;';;;;;;'';;'+##@#####################@@####:          
            ,;;'#':;;;:;;;;;;;;;;;;;;:;;;;;;;;;;;;;;;;;::::;;;;;;;;;;;;;;;;::::;;;;;;;;;;;;;;;;;;;;''''''''+##+';'';'';';';;';;'''';'''';;;;;;;''''''''''''''+++#++++++++++++++++++#'''+'+'';;          
            :;;'+::;'';''';;;;;;::;:;::;;;:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;'''++++++#++''';'';;;''''''''''''''''''';';;;;''''''''''''''+';;;;;:;;;;;;;;;;;;;;;'+;';;:''          
            ,;;;:::;;;:;;;;;;;;:::;;;;::;;;;;;;;::;;;;;;;:;;;;;;;;;;;;:;:;:;;;;;;;;;;;'';;;;;;;;;'''+'+++'+#+'''';';;;;'''''';''''''';;;;;;;;;;''''''''''''''';;;;;;;;;;';''''''''''''''''''''          
            .;;;;;;''':;;;::;;:;;::;;;;:;;;;;;;;;::::;:::::::;;;;';;;::::::::::::;;;:;;;;;;;;;;'''''''+'''+#+'''''';;''';;''';;;;;;;;;;;;;;;;;''''''';;''''''''';'''''@;;''''''''''';'''''''''          
            ,::;;;;;;;:;;;;;;;;:::::;;:::::;::;:::::::;::;::;;;;;;;;;::;;::::;;;;;;;:;;;;;;;;;;;;;;+'++''''#+';;;;;;;;;;;;;;;;;;;';;;;;;;';;;;;;';;;';''''''''''''+'''';'''''''''';':''''''+'+          
            ,;;;;;;;;:;;;;;;;;;:::;;;;;::::;:::;;;;;;::;;;:::;;;;;:;;;;;;;;;;;;;;;':;;;;;;;;;;;;;''+'++++++#+';;;;;;:;;;;;;;;;;;;;;;;';;;;;;;;';;;;;;;;;;;'''''''''''''''''''''''''';'''''+'++          
            ,:;;;;::;;;::;;;;;;;;;::;::::::;;;;;;;;;;;:;;;;;;;;;;;;;;;;;;;;:;;;;;;;;;;;;;;;;;;;;'''+++##+'''#+;;;;;;;;;;;;;;;;;;;;;;';;;''''''''';;;;;;'''''''+++++'++++'''''''''';';'''''''''          
            :;;;;;:;::;::::;;::::::::;:,,,::;;;;;;:;;;;;;;;;;;;';;;;;;;;;;;;;;;;;;;;;;;;'''''''''''+'##@++''+#+;;;;;;;;;;;;;;;;;;;;;;;;;;;'';;;'';;'';;;;'''''+'+''''''''''''''''''+''''''''''          
            :::;:;;;;:;;;;'+++++'+';;;,,;'+''''''''''''';''';'''';;;':;;;;;;;;;;;;;;;:;;;;;;';:;'''+++#@++''+#+';;;;;;;;;';;;;;;;;;;;;;;;'';';;;;;;;''''''';''+++''''';''''''''++''++'''''+'''          
            :;'+';,:::;::;;@####++++++++++++++++++++++++++++++++++#+++++++++++++++++++++++''''+#+''+#;##++''+##++'+++'+'''''''';';;;;;'''';'';'''''''''''''''+##+++++++++'''''''''++'';;;';;';          
            ,:;;:;::::;:;;;######+++'++++'+''''''''''''''''''''+'++++++++++++++++++++++++++##@@@+'++#:##+'''#@@########+++#++++++++++#++++++++++++++++++++++++++'''''';'''''''''''''''';';;;;;          
            :,;::;::::::;;'###+++++''''''''''''''''''''''''''''''''+'++''''''++++++++'++''':,:;'+'++#:###++'##++###++++++++++++++++++++++++++++'++++++++++++++++++#+++++++++'''';'';';;'';''':          
            ,:;::;::::::::'###++++'';;;;'';;;;;;;;;;;:;;;;;;;;;;;;'';;;;';;;;;'''';;;';;;;;:,;';++++#,#+#++'##++##+++++++++++++++''+''+++'+++++++'+'++++'++++++++++++++++++####,;;;;'::;;::;;,          
            ,,;::;:,,::;::'#+#++++''''''''''''''';';''''';;;;;;;;;;;''';';;;;;'';;;;;;;;;;;,,;;;++++#'#'##++#+++#++++''''';;;;;;;;;;;;''''''''''''''''''''''''''''++'''''''+++#,''';';;;;;;';.          
            ,,:::;:::::;::'#++++++'';;;;;;;;;;;;;;;;;;;;;;;;;;;;';;;;;;;;;;;;;;;;:::;;;;;;;,,;;;''++++#'##++++++#++++++'''';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;'''''++,;';;'';';;;;;`          
            ,,;::':::;:;;;+##+++++';;::::::::::::::;:::::::::::::::::::::::;;;;:::::;;;;;:;,:;;;''++#+#+#+++++++#+++++++'''''''';;'''';;;;;'''''''''''''''''''''''''';;;;;;;;'',;;;''';;#;;;;`          
            ,,;:'+;::::;;'###++++'';;:::::::::::::::::::::::::::::::::::::::;;;;;;;;::;;;::,:;;'''++###+++++++++#++++'''';;::::::::::::;;;;;;;;;;'''''''''';;;';'''''''''''';';.;;;''';;+:;;;`          
            ,,;;#@::::::;'###++++';;;;::;::::::::::::::::::::::::::::::::::::::::::::::::::,:;;+++'''#;+++++++++#+++'''';;;::::::;::::::::::::::::::::::;::::;;;;;;;';';';';;';.';;;+';;';;;;           
            ,:::;;:::::,;'###++++';;;;:::::::::::,:::::::;:::::::::::::::::::::::::::::::::,;::::++++'''++++++++#++++'''';:::::::::::::::::::::::::::;:;;:::::::;++;;;;;:;;;;;::';';':;;;;;;;           
            ,;;::':::;::;;+####+++'';;:::::::::::::;;;;;;;;;;;;;;;;;';;;;;::::::::::::::::;,:;;;;;+++'''++++++'+##+++++''''''''';;';;;;;;;;::::::::::::;:::::::;:;;:;:::::;;;;::';''';;;;;;;;           
            ,::::'::::::;'####++++'';;:::::::::;;;;;;;;;;;;::;;;;;;;;;;;;;;;;;;;;;;;;:;;;;;,:;;;;;'+++'++++++''+##+++++''''';';;;;;;;;;;;;;;;;;;;;;'';;;;;;;;;;;::;;;:::::;::;::;;';;;;;;;;;;           
            ,:;::'::::;:;'+##+++++'';';;;:::;;;;;;;;;;;;;;;::::;;;;;;;;;;;;;;;;;;;;;;;;;:::,:;:;;:'++''+++#++'''##++++''';;;;;;::;;::;;;;;';';'''';'''';''''''''''';;:::::::;;:::;';;;;;;;;;'           
            ,:;::;::::;:;'+####++'':;;;;;;''';;;'';'''';';''';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;,:;;;;:;'''''#+++';;'##++++''';;;:;::;::::;;;;;;'''''';;;;;;'''''''''+'';;::;::::;;,::;';;;;';;';'           
            ,:;::':::;;::'+###+++'''';'';;;;;;''';;;;';;;;;;;;;;;';;;;;;;;;;;;;;;;;;;;;;;''::;;;;::++++;''++';;;#######++++';;;''''+''''''';;;;;;;;:::;;'''';;''''';:::::::::;,::;;;;''';;';;           
            ,:;::;::::;::'+##+++'''''''''''''''''''''+'''''''''''''''''''''''''''';;'';;;;:,,:;;::::::;;+'''';;:#+++++++'''''''';;;;;;''''''';;:;;'''';''';;;;;;;;;;;:;;:;::::,::;;';;'';;';;           
            ,:;::;::::;::'+##+++';;;::::::;::::::::::;;;'';;;;;;;'';;;;';';;;;:,,::;:::::::,,:;;:::::;:;''''';;;#++++''';;;;;;;;;;;;;';;;::;;:::::;'';;;;;:::;;;;;;;;;;:::::::,::;;';;;'';';:           
            ,:;::;:::;;::'+##+++';::::::::::::::::::::::::::::::::::::;;::::::,,,::::::::::,::;:::::,;:;;;;;'';;#+++''';;;;;;;;:::::::;:::;:;:;;::;::::::::;;;':';;;::;:::;;':,:;;;';;'+''+;,           
            ,:;::;:;;;;:;'+##+++';;;;::::::::::::::;::::::::,::::::::::::::::::::::::::,,:::::::,::::::;;:;;;;:'#+++''''';;;;;:::;:::::::;;;;;;;:;;;;:::::::::::;;;;;;;'';''':,,;';';;;++++;.           
            ,:;::;::;;;::'+##+++';;::::::::::::::,':::,,::,::::::::::::::::::::::::::::::::,:::::::::::;::::;;:'#+++++''';;;;;:;::::;:;;::::;;;;;;;;;:;:::;;;;;;;;';''''''''';::''''';;#+;+;.           
            :::;:;;;::::''+#++++';;::::::::;;;;;::::::::::::::::::::::::::::;;;;;;;;:::::::::::::::::::;:::;;::;#+++++'';;:::::::::::::::::::;;;:;;;;;;;;;;;;;';;''''''''':,::::''''';;+;'+;`           
            ,;:;:;;;;;;:'++#+++++'';;;;;;;;;;';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:::;:::::::,::::;:,:;;::'#+++++'';;;;;:::;;;;;;;;;;;;;;;;;;:;:;;;;;;;;;''''''';;;;::,:;,:;'''';;+++''`           
            .:;;:':;;;;:;'+#+++++';;;;::::::::::::::::::::;;;;;;;;;;;;;;;:::;::::::::::::,::,:;:::,::::::::;;;:'#+++++''''''';;;;;;;''';''''''';;';;';;''''''''';;::::::::,,,;,,'''';';''+''`           
            .:;;:':;;;;:;'+#++++';;::::::::::::,::;:::;:::::::::,:::::::::::::::::;:::::::::,:;::::::::;;:;;;;:;#++++'''';''''''''''''''''''''';;;;;;;';;;;;;:::::;;;;;;;;';,;::'''';';';'';            
            .:;;;;:;;;;;;'+###+++';;;;::::::::,,::::::::;;;;;;;;;;::::;;;;;;;;;:::::::::::::,:;:::::;;:;;;;;;':;#+++++'';;;;::::::::::::;:;;;::;;;;;;:;;;:;;;;;;;;;''''''';;:;::;''';';';+';            
            ,:;;;;:;;;;;;'+#++++';;:::;:::::::::;;;;;:;::::::::,::::::::::;:;;;:::::::::::::,:;;:;::;::;;;;;;;:;#++++'''''';;;;;;;;;;;;;;;;';'''''''''''''''''''''''';;'';:::;::'';';';';+':            
            ,:;;+':;;;'';'###++++';:::::::::::::::::::::,:,::::::::::::;::::::::::::::::::::,;;;:;:;;::;;;;';;:;#++++++'';;;;;;:;::;::;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:;::;';';';''+';            
            ::;;#':;;;';;'+##++++';;;;;;:::;:::::;;;;;;;;:::::::;::::,:::::::::::::::::::::;:;;;:;:::::;;;;';::;#++++''';;;;;;;;;;;;;;;;;;;'''';''''''''''''';;''';;;;;;;::,,:::'';';';';+';            
            ::;;';:;;'';;'###+++'';;:::::::::::::::::::::::::::::::::::;:;;:::::::::::,:::::,;;;:;;;:;;;;;:';;:;#++++'''';;;;;;;;;;;;;;;;;;;;;'';;;;;;;;;';;;;;;;;;;;;;;;;;;;:::'''';''';'';            
            .:;:;':;;'+';'#####++'';;::::::::::::::::::;;;;;;;;::;;;;;;;;;::::::::::::::::;::;;;:;;;;::;;;;;;;;;#++++++'';;:::::::::::::;;;;;;;;;;;;;';;'';;;;;;''';;;;;;;;:;:::'''';''';';;            
            .:;:;':;;'';;'+##++++';;;;;;;;;;;;;;;;;;;;;;:::::::::;::::;;::::;;;;;;;::::::::::;;;:;;;;::;;;;;;;;;#+++++'';;;;;:;::::;;;;;;;;'';;'''''''''''''''''''''''''''';;,:;'''';''';';:            
            .:;:;';;;'':;'+##++++';;::::::::::::::::::::::::::::::::::::::::::::::::;;::::;:,;;;:;;;;:;;;;'';;;;#++++++++''''''';'';;'''''''''''''''''';';;;;;;;'';;;'';;;;;;,:;'''';;++;';:            
            .:;:;';;;;';;;+##++++'';;;;;;;;;:::::::;:::;:;;;:::::::::::;;;;;;;;;;;;;';;;;;;::;;;::;:;:;;;;;';;:'#+++++++'';;;;;;''''''''''''+''''''''''''';;'''''''''';;;;;:':,;'++';'+#'';:            
            `:;:;';;;;'';;+###+++'';;;:::::::;::;;;;::;;;;;;;;;;;;:::::::::::::::::;;:::::::,;;;;:;:::;;;;'';;:;#++++++'';;;;;;;;;;;;;;;;;;;;;''''';;'''';;'''''+#++''''';;:':,;''+';+##'';,            
            `:::;';;;:;;;;'###+++'';;;::::;;::;;;;;;;;;;;;;;;;:;::::::;::::::::;;;;;;;:::::::;;;;:;:;;;;;:;';;:;#++++++';;;;;;;;;;;;;;;;'';;;;;;;;;;;;''''''++++#++++'''';;:'::;''+';'#+'';,            
            `:;::;;;:::;;;+###++++';;;;;;:::::::::;;;:::;;:;;;:;'';;;;:;;::::::::::::::::,,:,;;;;::;;';:;;;';;;;#+++++'';;;;;;;;;';;;;;;;;;;;;;;'';;'''''+++++++++'++'+++';'+::''++';'#;'';.            
            `:;:;';:;:;;;'+####+++'';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:;;;;;;::;;;;;;::::::::,::;;;;;:;;;;:::;;;;;;#+++++'''';;;'';;;;;;;';:;;;;;;;';;;;;'''++'+''+'''''''''''';:;'''''''+''';.            
            `:;::;:;::;:;;+#####++'''';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:;;;:::;:;::;;;;''';';;;;;;;##+++++'''''''''';;;;;;;;;';';;';;';;;;;;;'''''''''''''';'';':;''''''''''';`            
            `:;:;':;:;;;;;+######++'';;;;;;:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;::';;:;;:;;;;;;;:':;;;;';###+++++'''''''''''''''''''''''''''';;''''''''''''''''';';'''::'++''''''';;             
            .:;;;;::::;;;'+#####+''';;'::::;:;;;;:::,::::;:;;:;;;;;;;;;;;;;;;;;;;;:;:,::'';':;;::;;;;;;;;;;;;;;;#####+++''''':;;';';;;'''''+''+'''''''++';;;;;;'''+''';;';;;;:;'+++'''';';;             
            .;;;;;;;;';;''++';::::,:,::,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::,::::::::::;:::::;;;:;;::;;;;;;;;;;;;;;:#####+++''''';;;''';;;;'';::;;;;;;;;;;'''+'+''''++++++;';;;:;:;'+'''''''';;             
            .,;''''''''';;+;:,::::,:,,,::::::::,,:,::::::::::::::::::::::::::::::,,:::::,:,,:;'''''+'+'';;;;;;;;##+'';;::::::::::::,::::::;:::::::::::::::;::::::;;;;;;'':::;:;'++''''';';'             
            ,:;;''''+'';;;;';::::::,::::::::::::::,,,,,,,:::::,,,,,:,,,::;:;;;;;;;;;;;::::::;:::::::::::;;;;;''+''';';;;;;;;';'';'';;;;;;;;:;'';;;;;:;;::::,:::::::::::::::::;'+++''''''';'             
            :;;;;'''+'';;;'''''''';''';;;;;;;;;;;;;:::,:,:;:;::,,:::,:,,:''''';;;;;;;;;;;::,:::::;;;;;:::::;'''''''';;;;:::;;;;;;;;;:::;;;;''''''''''';;;;;;;;;;;;;;;';;;;;''''''';';''''''             
            :;''''''';;'';'';;;;:;;;;;;;;;;;;;;;;;;;''';;;';;;;:,,:,::::::::::::,:;:::;::;;'';;;;;;;;;;;;;:::::::::::;':''''''''';;::::;;;;;;;;;;;''''''''''';;;;;;::;;:;;''''''''+'+''''''             
            :;;;''''';;;;;;;;;;;;;;;;'''''''''';;;;;:;:;;;;'';;;'''''';;;;::::::;;;::;;;;;;::;;;;'';:;;''''''''''';;''''';;;;:::::''';;;;;;;::::::;'''+++++++++++++++++++++++++++++''''''''             
            ;;'''''''''''';''''';;;;;;';;;;;;;;;;;;'''''''''';;;;;;;;;;;;;'''''''+';;;;';;;;:;;;;;;;'''''''+''';;;;;;;;;;;;;''++'''''''';';;'''+'''''+++++++++++++''''+++++++++++++''''''''             
            ;;'#@''''';;;;';';;;;;;;;;;;;;;;;'''';;;;;;;;;;;;;;;;''''''''''';;;;;';;;'++'''''''++''';';;;;;;;;;;;''''''''''+++''''''''''''''''''+''++++'++++++++++++++++++++++++++''''''+';             
            ;;;::;';;;;;;'':;'''''''''''''';;;;';;';;;;;''''''';;;;;;;;;;;;;;;'''+''++''''''';;';;;;'';;;''''''''+'++'';;;;;;''''''''''+''''+++++++++++++++++++'''+++++++++++++++++''+'+#+:             
            ,,:;''''''''''''';;;;;;;;;;;;;;';;+';;;;;'';;;;;;;;;;:;;'''''''''''''';;;;'';;'''''''+++''''''';;;;;;''+;'''+'''++++++'''''''''''''''''''+''''''''''''+'+++''+++++''++'+++#+';,             
            ::;;''''+''''';;;;;''''''++++''''';;;;;;;;;;;;;'';''''''''';;;;;;;;;;;;'''++''''''''';'''';''';'''''''''''+''';'''''''''''++++++++++++++++++++++++++++++#+++++++++++++'+#++'';,             
            :''''''''''+''''';'''''''+++''+'''';;;;;';''''''';'';;;''';;;;;;''++'''';;'';'''++++++++'''''''''''''';';''''''''''''++++++++++++++++++++++'''''''''''''++++++++++++++''++';''.             
            :;;'';;;';''''+'''''';''''+++:''''''''';;;;;'''''''''''''+''''''''';''''''++++++++++''++''''''''''''''';'''''+'''''''''+++++#+++++''++++++++#+###########+++++++++++#####@+'++`             
            .''''';'+'''+'+++'''''''''''''''+'''+''''''++++++'+'''''''''''''+'+++++';'+''+''''''''++''''''+''''''++++++'++''''''''''++###+++'''++++####+#+++#++'+++++++'+++++++++';'+';'''              
             .;+++'''''''+###+'''''+''+'+++++''''+++'++++++++'''''''''''++++++''++'''+''''''+'++++++''''+++''''''''''''''++'+++++++++++++#+++'+'+++++++++++'+++'++++++++++++''+++';'''++++              
                                                                         ``````......,,,::::::::;:;;;;;''+';';;'''''''''+++++++'+++++++++++++++++'++++++++++'''+++++++++++++++++++++++++##              
                                                                                                                                           ```````````..........,,,,,,,,,:,::::::;;;:;;;,               
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
</center></pre>
                <h3>
    --------------------------------------------------------------------------</h3>
You open the chest slowly and are relieve when nothing happens. You see a glowing pair of boots and a fist size round object. After examining the object, you recognize it as a magical fire bomb. You don’t know what the boots do but put them on anyway.  
            </p>
            <h1><center>
                    <br>
                    <a style="text-decoration: none; color: black"href=deadkv2.html>Avoid the vines to leave the room.</a>
                  <h3>
    --------------------------------------------------------------------------</h3>
                    
            </center></h1>  
    </div>
</body>
</html>