---
title: NM231 Choose Your Adventure
layout: layouts/base.njk
permalink: "/projects/NM231_ChooseAdventure/middle.html"
---

<!DOCTYPE html>
<html>
<head>
     <title>Dallas Armieri: Choose your own</title>
    
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Old+Standard+TT" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>   
<body style="background-color: black">
        <div id="blueMiddle">
            
            <p style="margin: 10px 10px 10px 10px; color: black">
                <pre style="font: 4px/2px monospace;"><center>                                                                                                                                       `+#@;    ,                                                
                                                                                                                                      #+#@:   #@@#@# :+#,@.                                             
                                                                                                                                    +##@+'++'#+#++#++@'+@;+'                                            
                                                                                                                                    ###+###@@#######@#++#++@                                            
                                                                                                                                '#@ @#++###@@@+#+'#@@+++#+#+,                                           
                                                                                                                               #+'+@#####+@@@@##@@@@@####+#@@@#;'                                       
                                                                                                                              ++####@@#'+##@@@##+#@@@#+@+#@@@##@,;                                      
                                                                                                                              @##+#@@@###@@@@@@@#@@@@+##+@@@####;:                                      
                                                                                                                              ####@#@@@@@#@@@@@##@@@@@#+#@@##++++'@                                     
                                                                                                                           '@@@#####@@##@@@@@@@@@@@@@#@#@@@@@+#+++#                                     
                                                                                                                         ;####@@@#@#@@@@@@@@@@@@@@@@@##@@@#+#@###'@:                                    
                                                                                                                        ,++#'#@@@###@@@@@@@@@@@@@@@@@@@@@#@##@#@@#@@`                                   
                                                    ;##@,                                                               @###@##@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@@@@##@##@                                  
                                            '#'#;  #@++#'   `''.                                                        ++##+#@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@@@@#+#`+##;                                 
                                           #;,'#'+@'''+;+@###;:@+                                                       @@#####@@@@@@@@@@@@@@@@@@@@@@@@@@@@@##++#+,+#+#                                 
                                          .###+;;#@'''''#@@#+++++###;                                                :@@@@@+###@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#######;+++                                 
                                    ##@#'@@+++''#@@@'+';#@@@+@@+#+'#`+                                              '+##@@@#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#####+#++##+                                 
                                  '; '++@@@#++#+#@@#@+;'@@@@##@##+:+@#:                                            .+###@@@@#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@##+++@.+###                                 
                                 +.,##'#@@@#####@#@#####@#@@#+##@'++;'# ;.                                         ###@#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@#++@@@@,                                :
                                 #@##:##@@@@#+###@@@##@@##@##+##@@#+++#;#.':                                       ##@#@#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@##@##@@@@#                               `@
                                `@+##'##@@@@@#+##@@@@##@@@@###@@##++'+#'+.;+:                                      @@@#@@#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@###+                              @@
                            :#+:@@++#+#@@#@@@@@@@@@@@@@@@@@@@@#@@###+#'++#.#':                                    ;@@@@#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@###+#@###+#.                            '@@
                           ;`,'#@@@+###@@#@@@@@@@@@@@@@@@@@@@@@@@@##@#'+';#'#+                                   ;#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@#++++'+#@+##+;.                           .@@@
                          ,.,#+##@@@@#@#@#@@@@@@@@@@@@@@@@@@@@@@@@#@#++',';++#                                  +###@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@+#@+#::+###..                           '@@@
                          #+#+'+#@@@@#@+@@@@@@@@@@@@@@@@@@@@@@@@@@@@#++':++###                                 `####@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@###++#@#;'++@,`                        :,,'#@@
                          +:''+'##@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@##+++@#@@+;                              ;+###@#@@@@@@@@@@@@@@@@@@+      @@@@@@@@@@@#@@+++@'####@;                      ,#@+';#@#'
                          +'##;+#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@####+###+##                             ######@@@@@@@@@@@@@@@@@@        ;@@@@@@@@@@@@@##+@ @@#+##                      @. .+; '+#
                      `@;;@++##+#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@'+`#+#`+                            `##@@@@@@@@@@@@@@@@@@@+         ,@@@@@@@@#@#@@@@##@##@#'                      ;@;;@;+'@+#
                      #`@+'###@@#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#++,##';+                            '@@@@@@@@@@@@@@@@@@@@;          `@@@@@@@@###+#@@@@@@@@@                 '@@@':#++#####+##
                     ;.#;+#+@@@@@@@@@@@@@@##@:+++#@@@@@@@@@@@@@@@@@@@@@@@@@+##+#'@:                           ####@@@@@@@@@@@@@@@@@:            @@@@@######+#@@@#@##@               '#':.``@#+#++'++++#@
                     +@'#+#@@@@@@@@@@@@#'+###+#+++` `.`.:'#@@@@@@@@@@@@@@@#'@+#+#'#,                         `###@@@@@@@@@@@@@@@@@:            ;@@@@@##@+#@+###@##'#@              #;  `.``#+@#+'+@+'@#@
                     '#+'#+#+@@@@@@@@##;+#######+#'#+        :@@@@@@@@@@@@@#@++@';:                          ;##+#@@@@@@@@@@@@@@@'             @@@@@@##+#+######+##'+`            ';, @;;+#''@@+##+;'##@
                   .@@#####@@@@@@@@@+++@@@@#@@@@@@####@        +@@@@@@@@@@@##'@@#+#;                         +##+@@#@@@@@@@@@@@@#              @@@@@#+++++#@#,;###+@@;            ##,;#++#'++@@###@+##@@
                  `'#;@#####@@@@@@@''#++@#@@@@@@@@@#@+#         `@@@@@@@@@@@@@####'#+                        ,##@#@@@@@@@@@@@@@@              #@@@@@@#;+++@#,,;+#+@:.,           ;'#@@@+;,,++@@@@@@@@@##
                  @`@+'##@@@@@@@@@ ####@@;     :@@@@##@+;         #@@@@@@@@@@#@;'+'#:+                        @@@@@@@@@@@@@@@@@@              @@@@@@@@#':@''' ##+@,'#           ,#'#;+:;';+'+@@@@@@@@##+
                  .#+#+#@@@@@@@#+`'#+@@+         .@@@@#+;          ;@@@@@@@@#+# #+;##+                       @#@@@@@@@@@@@@@@@@'             #@@@#@@@@@+;@..`#+####:'      #@#''#+@#::;':;;#@@@@@@@@@+.`
                  #++#+++#@@@@@+ #+@@@             #@@###,          +@@@@@@@#;#`+#'+'.                      ,#@@@@@@@@@@@@@@@@@`            +@@@#####@@#'@#'@####:,@     `#'.`.`;@##++''':@@@@@@@@@@#@,;
                  ###+###@@@@@+ .'@@#               @@@@;'           #@@@@@##++.:+';+.:                     '+###@@@@@@@@@@@@@@`           ,@@@#@+##+#@@@##@@#++@+#.     +``.;#:`;+@@@@#++@@@@#@#@@@##@#
                 @+#@@+#@@@@@#  +#@#                `@@##+,           @@@@@##+'@#+''#@:                     '#++##@@@@@@@@@@@@@`           @@@###+#'+++@@@@@@@###@      ;' .+``# #+@@@@@@#@+@@+#@+@@#+';
                ;:;#@##@@@@@@  `##@                  @@@@#+           ,#@@@@@#+;@##';'                      :###@@@@@@@@@@@@@@@`          @@@@##+#+++++#@#@###@        `#@+''+'+#+##@@@@@##+. . `##@@#;;
                ;#++++#@@@@@,   ##'                  ,@@#@;            +@@@@@@##@+@+#@'                      +#@@@@@@@@@@@@@@@@`         ##@#@####+#+@@@@##'@++:      `@#'+#@@''+''+@@@@@@:`..,,``#+@#;#
                '+++##@@@@@#    ##                    @@@@+#            @@@@@#+'+@@#+@#;                     ##@@@@@@@@@@@@@@@@.        '@@@####''#@# `#+###'+'+     ++'@#''+++''+@@@@@@#@+.'; ., #'@@+'
                ###+##@@@@@    `+@                    @@##+;            #@@@@+'@@#'+#,.:                     #@@@@@@@@@@@@@@@@@,       .@@@@@#+#+'@#.;.@@#+'+#+#    ''''++####'#;#@@@###@@@##+'+@@'+#'##
                +@@@##@@@@,     ;#.   @               #@@@;;            .@@@##;,`##++,'`,                    #+#@@@@@@@@@@@@@@@,      `@@@@@@#+++#+;; '+@#++##`;   '':;;''@#@#'#'@@+'+####+++'+';+;+@@@@
               .'+##@@@@@@      ,#@:.@+               #@@@##             @@@#+' #.+'.+:.'                    #+#@@@@@@@@@@@@@@@;      @@@@#@@#+++@`'`;+#+##'+:'   '#;'@@@#+#@@@@@#+#. .'###';''';'++##@@
               +:++##@@@@;       ;'+#`                @@##+';            @@@@+#.,`#+,+#`+                    ,@@@@@@@@@@@@@@@@@#     #@@@@@@@@#++@: #+@@###@,.,  ++'++` .:#;@@@@@#;`. `.++@#+++@;#;#@@@@
               ++++##@@@@                             @@@@#'.            @@@#'+,+.#',``:,                     @@@@@@@@@@@@@@@@@@    ;@@@###+#@@@@+@###@@##++@;  @;#''``..;'+#@@@@;`.@##` +@@+'++;;##@@@@
               :#@##@@@@#                             @#''#'`            #@#+++:`+#:;.`@.                     @@@@@@@@@@@@@@@@@@    ##@##@#'@#@@@@@@@@@@@#`    @@+'#. ;#;.`+#@@#@,`+.:',,#;@@@##;@#@@@@@
                ##'##@@@,                            `@@+;;';            #@##';#@''#+@@'`                     #@@#@@@@@@@@@@@@@@.  +@@@+@+#+@#+#@@@@@@@@@:   .@@@#;'`'`,+..+@#@'@`.'+,` @;#@@@@@##@@@@@@
               :,#'##@@@                             :@@@+,+,            #@##';,''@'':++                      #+@@@@@@@@@@@@@@@@'  @@@##+##+#+++@@@@@@#@@   .@+#@+#+`:+.`:#'@@@+## ;;`.@#'@@@@@@@@@#';+#
              `;;+###@@@                             @###@@:             @@@@#@@##+#+###                       #@@@@@@@@@@@@@@@@@ @@@@###+++###@+@@@@@@@:   @++@#@+#.  `:#+##@@+'+@@@@#@'+#@@@@+'#@@@@@@
              `'#@###@@@                            .#++#++              @@#':,`#@##@@@@                       @@@@@@@@@@@@@@@@@@'@@@@@##++#: `'#@@##+##, ,@#;'';+###++@@+##@@@@++'+'';++@@@+'@@@@@@@@@@
               '+#@@@@@@`                           @@##`++              ###;`+`+@##`:@#                       .@@@@@@@@@@@@@@@@@@@@###+++#+.+ ##@####+'+.@@'+':''#++##@#@#@''+##+++'++++@'#@@@@@@@@@@@@
               ,@@+##@@@:                          .@###''+             :@#+.+``#@@.#`#'                        @#@@@@@@@@@@@@@@'@@@@##'+#@`.'`#@@@##+'+;@@'+'';+@@@##@@@#+;;'+'+#@++@##+#@@@@@@@@@@@@@@
               ++,;'+#@@'                         `@#+:++'              '#+'.;#`##,#:`@:                        ;#@@@@@@@@@@@@@@#@@@@@#''+;'' @#@@###+';@@##+++#,``'##@@##;'+#@#@@+###@;@@@@@@@@@@@@@@@@
               :+,;+#@@@@                        `@@#''#+;              @#'#.':++#;#; #                          ##@@@@@@@@@@@@+#@###@@+##,.`@#@@@@#'';@@@#+'+'`.#,.#@@#+''@#:. `;@+#+##@@@@@@@@@@@@@@@@
               `#++@@##@@.                      `@##@#;#'`              @@';@@@++#`,.+#                          :#@@@@@@@@@@@@+@######@#'@@##@@@#+++:@@@#@+'+ , ::`#@@@#+#,.,#;;:,#:,@@@@@@@@@@@@@@@@@#
                ##@#'##@@#                     `@#:#@@#+;              '#@@#+++@#+@#@;#                           @@@@@@@@@@@@@@@##+#'#+@@@#@@@@@@#+:@@@#@@@+'.,`+ +#+@@##`,': :,,+, +@@@@@@@@@@@@@@@@@#
                ,#@'#++#@#.                   ;@++' #+#                @. +++@###+'''+,                           '@@@@@@@@@@@+@####+++:#@@@@@@@@++:@@##+@#@;+.';`,#@#+#'@``##@,`:#  @@@@@@@@@@@@@@@@@@@
                 @#':##@#@@`                 @##+++@#;+               #.:#;+@+#.,#+##@                             #@@@@@@@@@@+@####''+@#@@@@@@@@@:@@@';#+##@@.;:++#+#++';'`.``;'#  ,@@@@@@@@@@@@@@@@@@@
                 @'@'#+'+@@@#`            `'###'#'##+@`               +`,,@'#@`#,,#+@+                             #@@@@@@@@@@+@#+++'#+ '+@@@@#@@:@#@##';+#+@@#++##+;#;+'@#@#'#@`   #@@@@@@@@@@@@@@@@@@@
                 :@#+@;'##@@@#@@##';;:`'@@#@#+##.@++                  +;@@++#.+ ;'+#@`       ,                     .#@@@@@@@@@@#+#+###`,.+@@@@@@'#@#+#+##@##+@@@###+#+@#+####@;     @@@@@@@@@@@@@@@@@@@@
                 '+#@#@ ;+##+@##@@#@@#+@##'+#@'###+@                  ++++#+'.+#,@+@+    :+@@@@#@@@@@@@@'.          @@@@@@@@@#@@#++++.'#:+@###+###@+#'#+:.`'+@@@#+#+@#,:+#'#.      `@@@@@@@@@@@@@@@@@@#@
                   ;+++##+@###++#+#+@'+'#@####+#'+'`                 @#+++#+#``,#+#@`.+@@@@@@@@@@@@@@@@@@@@@'       +@@@@@@@@#@@+++#+ .;@####;@@@@#+'#'.,'`.#@@@++##:`.. @+,       +@@@@@@@@@@@@@@@@@@@@
                    #.#+##``#+@+@+@++@+@;+:`#@'##                   @:####@##@##++#+##@@@@@@@@@@@@@@@@@@@@#@@#@'    ,#@@@@@@@+@@#++#': ,#@##;@@@@#@++#`+':.:@@@+##:#`':+`+'        @@@@@@@@@@@@@@@@@@@@#
                     ###@+'##@.;#'`@+#`'@@++++@:+                  #.@#+@@#;'+#@#+#'@@@@@@@@@@@@@@@@@@@@@@@@@@@@@+   @@@@@@@@'@@@@#+:`:@###'@#@#@@@+'+:;#, #@@@##'# .`;:`#.       :@@@@@@@@@@@@@@@@@@@@#
                         #@'#######+@##'+@'',                     ,`''++@#.`; +'@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@, #@@@@@@@'@##'#+':;###+#@##+####+@...`+@@##@##@.'@'`+#        #@@@@@@@@@@@@@@@@@@#@#
                         :.:#+@++;'#@@#,#` `                      #;,#;'#'`,+`+'#@+#@@@@@@@#@@@@@@@@@#@@@@@@@@@@@@@#@,@@@@@@@'#++++###+@'#@@#'';#+###@#:'#@######+@:` `'@        .@@@@@@@@@@@@@@@@@@@@@+
                             .+.  +`                              @##;'#@:;'::++@@+@@@@@@@@@@@#@@@#@@#######@@@@@@@@@+@@@@@@@'++++##@@@#@@#@#++'+@';@@@@@@@'+;#++##'''@#         #@@@@@@@@@@@@@@@@@@##@#
                                                                  #+++'+@#` +#'#@#@@@@@@@@#@@@#@@#@########@@@@@@@@@@#@@@@@@@'#'''..'@+@@#@@#'':+ .:`:@@@##:+++''##@@@;         `@@@@@@@@@@@@@@@@@@@##@#
                                                                  @######+#@#++#@'@@#@@@@@#@#+#@@@####@@###@#@@@@@#@@@#@@@@@@'+'+` .++@@###+@+'@.,+'`,@@@#+#,++@@#+#            @@@@@@@@@@@@@@@@@@@@@###
             #@'+:,                                              ##;+##@@++#+++#@#@@@@@@##+'++##@##+########@@@@@@+@@#+@@@@@@'+;,,#:.@@##++'###;.'``,,#@@+':+#,..##            .@@@@@@@@@@@@@@@@@@@@@@@#
          ,@@`######@                                           '''@;'+##.;'###@+@#@@@@@#####+####++##########@###+@##'@@@@@@+':`, ;@@#++'''''#,;#,+`.@##++'#: .`+@            #@@@@@@@@@@@@@@@@@#@@@@@@
          +`#@'#@@@@#@# , ,;                                    +,:#'++@ ,,@+#@#+@@##@@@##@++#+###+#@@@###+###@#######+@@@@@@##+,:;@@#++'+++##+:,.``;@###+''# '+`@`           ,@@@@@@@@@@@@@@@@@@@##@#+#
        .####@#`   ,@@#@##@`                                   .`+;#;+#,,:'#++@@####@@@@#########@#:`+ ''#+##@@@#+####+@@@@@@#'+`@@@@##'+++ ,:+#`..+@###@#+#;:+ @#            @#@@@@@@@@@@@@@@@@@@@#+#@#
        +.#@@         +@@+                                     ' ;'#++#`:,:@'#@#######@@#++#@@@##@@,` :;`'##@@@@+@@@++#@@@@@@#;.@@@@@#+''@,`` #@@#@#@##@##;@,` @+            +@@@@@@@@@@@@@@@@@@@+######
       ##++#                                                   #,:#++##.;+,+##@+@##'+'#@@+@;`#`@#@@#@#'++@#@@@@##`  ;@'#@@@@@@:@@@@#@+++'+`++ +@@@###+++++@##'@+             #@@@@@@@@@@@@@@@@@#@####++#
      #@'#@                                                    ,###+++##`'#@+#@+#+@+:@#@#@`  `,@#@@@@####@@@@@@##`;`' +@@@@@#+#@@@@@#@';#:;`+ +@@@@#''''++###@:             @@@@@@@@@@@@@@@@@@@###@##+# 
      '###                                                     .####+'#+@@@@##@#@' #`#@#@@@@@@##@@@#####@@@@@+###+`:.@@@@@@'##@@#+##+#+'#.+`: #@@@#'++,@#@@+,              :@@@@@@@@@@@@@@@@@@@#+#++#+``
     #+@#'                                                    '#####@@##;+'+@#@@ #+`#'#@##+######@#+######@#+###@'@,` @@@@'@@@@#+#+'+##+#`+;``@@@@#+'+#@` ;@              `@@@@@@@@@@@@@@@@@@#@##@##+@:@
     #`@#                                                    +#;++#@@## #:#;##@#` ,####@#######+##+@@@+###@@+##+###+@'@@+#@@#@#'#++#@#@##..`.++##@++;@,.:.;;             `@@@@@@@@@@@@@@@@@@@#@++#+##+#@
    `###+                                                   +@@#@+++@+.: +++++@#'#######@+#@@+@###@ @`,@+###+++#+###@#@'@#@@@@#++++''.,##@;,+++++##++#`+':#              #@@@@@@@@@@@@@@@@@@@@#@+#+;##@@
    #+##,                                                  #@@+#``@'@#`+.:+'###@#+#+@@###++ ++`#. `: .` ##@#,;@#####++#@@#@####''''``,.;+#@#'+++++#+#@#+#'              @@@@@@@@@@@@@@@@@@@@@@@@@'#@@@@@
    #,+#                                                  '@@@#.;+#'##`'`@++##@@#;#:.; + ,@++'#     ;#@@:  @`'`+####'@@@@###@#+'+#,.+:.`#@@#;;+'+++#:+'++@             #@@@@@@@@@@@@@@@@@@@#@##'#@@@@@@@
   ;###@                                                 ,#@@@@`;'#+####@+@#@#@@@##:+,@                     + '+##;@@@###@++##+'+@`' ,`,+@@+##+#@###:@#@@@'           @@@@@@@@@@@@@@@@@@@#@##'#@@@@@@@@@
  ++'###                                                .@@@@@@`'+###@######@@@@@@, '@`                      +; `+##@@##++++'+@+++`;'+:+#@@';+##`..@'+#@@@#`         @@@@@@@@@@@@@@@@@@#@@#'#@@@@@@@@@@@
  '#;+#;                                                @@@@@@#,.@+######++'##@@@@#@                           '@@##@##''+#+@++':#,,`,;+@####@+.::;++++##@@@.      '@@@@@@@@@@@@@@@@@@@#+'@##@@@@@@@@@@@
  #+###,                                               @@@@@@@;#@#####+`.#;##@@@@@@+                         .@####@@+++#''`;:'@'#+,.'###@@#'#`;, @#++'##@@@@;   .##@@@@@@@@@@@@#@@@@#'#@@@@@@@@@@@@@@@@
 :#@@#@                                               #@@@@@@#@@#@@@@+.,;.+###@@@@@@;                      ,@@#+;++#@@#+'.`.':,####+##;'''@#+,  .@.,#++##@@@@@@+'#@@@@@@@@@@@@@@@#''#@@@@@@@@@@@@@@@@@@@
 +#''##                                              '@@@@@@@##'@'#@@':;;,+##@##@@@@#'                  `#@@#+''+'+#+@+;'`,#`:`##@@@++'';;;+##;#' +: #+++#@@@@@@@###++'';;;';;'+@@@@@@@@@@@@@@@@@@@@@@@@
 +#####                                             `@@@@@@####+#+@##+#`@'+#@###@@@@@#@              ,@@#@@#@:;+;'+++#++` + #.`@@@##+';'+#@+#+;++`'+;`+;+####@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@##@##
 #@#@#@                                             @@@@@@#@##@#@@+#+##',#@++@##@#@#@@#@;         .#@+@@@@@#''''#@@#@+#+,+'#,`#+##@+;'##` `;#@@#+:`'':'+'+@@###@#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@####@@#
 ##@'@@.                                           #@@@@@#####@@`:#;++@@##;':+;#@@#@@@@@@@#:``.+@@@@@#####@#+'+@:` ``##@' : ;@++####++.`'#'.#:+##+;`; .#+@@###@+##@@@@@@@@@@@@@@@@@@@@@@@@@@@@##++'+@#@#
;##`+#@.                                          :#@@@@@###+++#`';++#'@#'';+''@@#####@@@@@+#@@@@@#+#++++###++#`:+:#` #@@@+##'+++;++++.'.,``#+#'#++'.`,#+##++###+@#@@@#@@@@@@@@@@@@@@@@@@@@@##+'+'+#+#@@
:#+##@@:                                         `@@@@@@###+#'#+`;;#+;'@@'.';++##+#++##@###+++##@#+#';:;;''#+# ,,`;,;'#@###'++++';#@;'.,+, #''++'##'#+##@#'##++++++@#@@@#@@@@@@@@@@##@@##@@@##++#+##+#+@
 #####@+                                         @@@@@@@@##+##`;,+'#'++#@'';#'+#++;+@+'#@+;+##+'##+''++++;++##,,@#` ;@#@@#+'+';+###+#+;``'#;@++#+'@#'''+@+'#+''#'#'+@#@######@@###@@###++##@++;'+##+#+##
`+#`###@                                        @#@@@@#@@#@'##;`# +#+++#@@ ..##+@@@@++++@;+'+++'+#+'##+'+@#+@#@` `.'##@##++++#@';'#+###@@#,;``++#+##@@@@@+#;:'@++'#+#@+#+#+###@@@@+#++##'@#@#+'+++#@#@##
'##:##@@;                                      ##@@@@@##@@@+.` #'' @'##@@#@ `@+@``. '#+##++:;'++++'+:.:+;.@+@@####@+#++#@+++@.;;..,@#.;.#+# .',,##+##@@@@#:`'+,'##+####++@++######@;@@++++####++#;,##,@#
###@@@@@@                                     @@@@@######@@#@@+######@##@@#@#+##:`..;'#+#+@:;#@#+##@ ,'+:,##@@@@###@#####++@`;' @.,@#`,#'#+::'..:#++#@@@@#. ,`'.:+'###+@#+'+@'##@@#''''+++##@@+++` .+.#+
 @@#####@@                                   @@@@#@######@@@@###+,'##@@#++###@@@@: ,`.##@# #.+`##+@## `  +#@@@@@@#+#+;'++++:`''` ,@+',   #+@ +,'`;#+#@@@@##`:'+`.@####++''''#+'@+##'+##+#+#@#+@`'#@;`;#@
 '#:@'##@#:                                .#@@@@@#######@@#####.:`,@@#+++###@@@@@#:,:#@@#'`';`,##@@##@@@#@##@@#++#+#'+++##@. .`@#+';+`  ,@;#`.'` @+@##+#@##`  :`#+##++@@@#+'#+@+#':+#@@##++@#@ ,` `@+#@
 .#;'##@@##.                              +@@@@@@######+###@@#+:#`  #+'+'++++@@@@###+#@@@@#@+;'@+#@@@###@++#+###'+++'@##@+#@@@@@:;@+'++:;#'@+@; .:##++##+#@+@+:;#+####'    ;#++###'##;`@.+##@@@@##@'#@@@
 ;####@@@@#@;                            @#@@@#@@@##++;`#++##`.,     +@@#'''+@@@@@@@#@@@@@@###+#@@@@@@#';:';#'@#+#+#`;+. ''   ` ;,.###+++#+'@++@+#+@++#+'##@##+++#@@##,:#++ .#++##+;.@#;.'@@@@@@#+######
 ,:##+++##@@@+                         '@@@@@##@#@##@. .++##         @..+#+';##@@@##@@@@@@@@@#@##@@@@#+''++++++++#,`@``;.;.    #:+:#+++###@@'@#+;+##+++';+.#+@@@@@@@@@` :.:. ;##@@++` `,'@+@@@@@@##++#@@
  @##,###@@@@@@.                     .@@@@@@######@##;@###+#         @:,'+#''#@@##++++#@@@#@@##@@#@@@#'#'';;+;#@+#`'#+; `@      ;`.`#'+#@####@+@#@++''';'+'+##+#@@@@@##: :. .#;#@@@##@@#+@@@@@#####++++#
   +#,+#@#@@@@@#@#:                `@#@@@@@@###+##@@@##+##.#`        `@.':+#;'###+;'+++##@#+#+;+++##@#+'+@@@#++#+@.`  `+@       `',.#'#####+###,#@###.``'@''+##@@@@@@#@#@;:'#+@@@@@@##@@@@@@@@#####+###+
   .#@@@@####@@@@@@@@#:`        '@@@@@@####@#+#@#+@#@#+##.+`          :@``;#'#@#++:++;++#@#+;'++#++#@#+@+.:.,###@+@:;#@#         `'##+###+#######;#++`';,`@+;'##@@@####@##++#@@@#@@@###@@@@@@@##++''##''
   '#+###+#+@@##@@@@@@@@@@@@@#@@@#@@@@@####@#+@:;`##@@##+@             :@#:##@#;#@#@@#++#@#;#+++###+###,.. #.,#+####@:              :@##++#+'####@@:#`:,`#`@'##@#@##+++#@###@@@@@#########@@@@##++'+#@##
    ;+#'.###@##@@@@@@@@@@@@@@@@@####@@###@@#@+.`,#####  :                :#@. .#.:#@+##+##'+:;;'':+####` ;;: @;@@+#,                  ###:##''##@++#;#.`:..`+++##@###++#+++##@@@@##+@####+@@@@+#++@#;'`@
    @###`+#@####@@#@@@##@@###@@##@###@######@##@###+#;                         @,`@,# #'##'#';++@#++#@#@':;#+'#@##;                    #;`;`#;####+'##'+.`.+'++######+++';#+##@@#@##++#++#+##@#+##.##.+@
     ,+#@##;+'##@##@@@+#@@+###@#+####@###;;+@@#####`#                           @'  ` ;#@@+,,#;+;:#### ''''######,                      @`,#''+####+'+#+;::';''@@++###++++++##@@##+##+#@#+#+#@@#@+''@@; 
     ,#++@#@:@+#+##@#+'+#@+###@######@+,#;.;+#@###;.+                            ;@@@#@#  :+`:`:``#+  '@@#@@@##+                         ':.`;##'#@@#+++##+##+#@,#+@@+#@##'###@@@+++++##@##@`   ;#@'`   
      #'+###; #@++#@#++####@##@#+::##@+:`,@;##@@#.+,                                `.     ,@#';+@#  .@@@@@@@+;,                        ``+#'++'+;#.+;@'####++###,#' @:`+'###++#@#'@+`,# '@             
       '+@++++######++##@'@@###,#.`.#@@#+'####   `                                            :;,    @@@@####+,                       '':###@@@+##+'@'`####+##@@@#;#@:,.:;#+#+#' +#`;:..'#;             
         ,@#+#@@. +#+@#+##;;:@@@..;###@##+####                                                      ,@@@@@###                       ##@##@#@@@@@@@++:` #@#''`'  ;:@;+@@@@'` `;@`  +##@@@+               
          #,##@##'#@;,:+@@+;'@@##++###@####,.+                                                      @#@@@@@#+                     `,@#@@@#;`     ,@#+@#@  #: ;'''` @`  `@@@@@.                          
           '++#++'##+###+#+'++##+##+##@@+#;+,                                                       @@@#@@#;                     '##@@@#           :#      @',``;;#'                                    
              `@@+######@+'+###@+#+###@                                                            ;#@@@@##'                   +`#@#@@;             +        +#++;                                      
               #.`@@#@@+@#'+#@#+#':.:@                                                             #@@@@@##@                   +#@#@@               @'                                                  
                    #.`@ `@#@@` `+@;                                                               @@@@@@@#                  '###@@@                @.                                                  
                                                                                                   @@@@@@##'               .:##@@@@            #   ##.                                                  
                                                                                                   +#@@@@###               .+@@@@#            ,:  :+#                                                   
                                                                                                   ,@@@@@@##;            :'##@#@#              #@@#+                                                    
                                                                                                    @@@@@@@#+`         ;`+#@@@@+                #,`                                                     
                                                                                                     @@@@@##@#+`:``## #+@#@@#@,                                                                         
                                                                                                     :@@@@@@#+##+#@#+#@#@@@@@                                                                           
                                                                                                      :@@@@@@@@@##@##@@@@@@,                                                                            
                                                                                                        @@@@@@@@@@@#@@@@@:                                                                              
                                                                                                         '@@@@@@@#@@@@@.                                                                                
                                                                                                            #@@@@@#'`                                                                                   
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                                                                                                                                        
</center> </pre>
                      <h3>
    --------------------------------------------------------------------------</h3>
   As you step into the middle tunnel, your foot fails to sink into the water as your boots glow more strongly. You realize they must allow water walking. You continue confidently down the tunnel until you start to see ripples ahead of you. What do you do? 
                
            </p>
            <h1><center>
                    <br>
                    <a style="text-decoration: none; color: black"href=nuke.html>Throw your magical fire bomb forward(nuke that shit!).</a>
                    <br>
                    <a style="text-decoration: none; color: black"href=death.html>Start running forward.</a>
                    <br>
                   <a style="text-decoration: none; color: black" href=deadkv2.html> Retreat to previous cavern.  </a> 
                    <br>
                <h3>
    --------------------------------------------------------------------------</h3>
                    
            </center></h1>  
    </div>
</body>
</html>