---
title: NM231 Choose Your Adventure
layout: layouts/base.njk
permalink: "/projects/NM231_ChooseAdventure/rightv3.html"
---

<!DOCTYPE html>
<html>
<head>
     <title>Dallas Armieri: Choose your own</title>
    
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Old+Standard+TT" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>   
<body style="background-color: black">
        <div id="redMiddle">
               <h3>--------------------------------------------------------------------------</h3>
            <p style="margin: 10px 10px 10px 10px; color: white">
   As you continue down the right tunnel, your light spell starts to fail. You feel a deep sense of dread and start to smell smoke. As you continue, your light gets darker and darker until it looks like a floating spark. What do you do?
            </p>
            <h1><center>
                    <br>
                    <a style="text-decoration: none; color: white"href=bossroom.html>Bring out the glowing crystal. </a>
                    <br>
                    <a style="text-decoration: none; color: white"href=death.html>Dash forward (you aren't a chicken). </a>
                    <br>
                   <a style="text-decoration: none; color: white" href=3rdtime.html> Retreat to previous cavern.  </a> 
                      <h3>--------------------------------------------------------------------------</h3>
                    
            </center></h1>  
    </div>
</body>
</html>