#computer{    
    width: 1500px;
    height: 1500px;
    text-align: center;
    margin: 0 auto 0;
    background-size: cover;
    background-color: orange;
    padding: 95px 8px 8px 110px;
    background-image: url(../images/blackscreen.jpg);
 }
#screendiv{
    background-color: white;
    width: 1417px;
    height: 973px;
    background-size: cover;

}
#desktop{
   background-color: black; 
   width: 1417px;
    height: 973px;
    margin: 0px 0px 0px 0px;
    background-size: cover;
    background-image: url(../images/backgroundimage.png);
    position: relative;
}
#worddoc{
    position:absolute;
    top: 100px;
    left: 50px;
    width: 800px;
    height: 560px;
    background-size: cover;
    visibility: hidden;
    margin: 100px 100px 100px 100px;
    background-image: url(../images/worddoc.png);
}
#taskbar{
    background-color: ;
    position: absolute;
    width: 1416px;
    height: 50px;
    top: 1034px;
    left:118px;
    background-image: url(../images/taskbar3.png);
    visibility: hidden;
}
#controls{
   background-color: red; 
    position: absolute;
    width: 10px;
     top:990px;
    left:665px;
    right:1000px;
    
}
#blackscreen{
   background-color: black;
    position: absolute;
   width: 1417px;
    height: 973px;
    top:0px;
    left:0px;
    right:0px;
}
#static{
    position: absolute;
   width: 1417px;
    height: 973px;
    top:0px;
    left:0px;
    right:0px;
    background-image: url(../images/static.gif);
    visibility: hidden;
}
#section1{
    background-color:;
    width: 1417px; 
    height: 300px;
}
#section2{
    display: flex;
    background-color:;
    width: 1417px; 
    height: 300px;
    flex-direction: column;
}
#section3{
    background-color:;
    width: 1417px; 
    height: 339px;
}
#section3{
    background-color:;
    width: 1417px; 
    height: 339px;
}
#section4{
    background-color: ;
    width: 1417px; 
    height: 33px;  
}

#subsec1{
    background-color: ;
    width: 1417px;
    height: 33%;
}
#subsec2{
    display: flex;
    background-color: ;
    width: 1417px;
    height: 33%;
    margin: 0px 0px 0px 00px;
    flex-direction: row;
}
#subsec3{
    background-color: ;
    width: 1417px;
    height: 33%;
}
#subsec2b{
    background-color:;
    width: 1417px;
    height: 33%;
    visibility:hidden;
}
#icon1{
    background-color: ;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-image: url(../images/alien.png);
}
#icon2{
    background-color: ;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-image: url(../images/worddocimages.png);
}
#icon3{
    background-color: ;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-image: url(../images/dontsign.png);
}
#iconfiller{
    background-color: ;
    width: 40%;
    height: 99%;
}


#startbutton{
    width: 80px;
    height: 40px; 
    font-size: 25px;
}
#ship{
    position:absolute;
    background-color:;
    height: 100px;
    width: 200px;
    background-size: cover;
    background-image: url(../images/UFO.png);
    visibility: hidden;
}
.disc img {
 position:absolute;
 width:50px;
 height:50px;
}
#wordfiller{
height: 200px;
width: 100px;
}
/*
        #fancy_click{
            width: 100px;
            height: 50px;
            background-color: aquamarine;
            color: coral;
            margin: 0 auto 0;
        }
        #button1 {
            position:fixed;
            left: 55%;
            transform: translate(-50%);  
        }
        
        #button2 {
           position: absolute;
            left: 45%;
            transform: translate(-50%) 
                
                background-image: url(../images/loadingv2.gif);
        }
*/